html {
  --white: #fff;
  --black: #111;
  --green: #457e31;
  --grey: #666;
  --light-grey: #b2b2b2;
  --twitter-blue: #1da1f2;

  background: var(--white);
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  font-size: 62.5%;  /* = 10px, rem base */
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.15;
  border-top: .8rem var(--green) solid;
  padding: 0;
  margin: 0;
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

section {
  text-align: left;
  margin: 6rem auto;
}

address {
  font-style: normal;
}

small,
figcaption {
  font-size: 1.28rem;
  color: var(--grey);
}

small a,
figcaption a {
  color: var(--grey);
  text-decoration: underline;
}

.button {
  display: block;
  text-align: center;
  margin: 0 0 6rem 0;
}

.button a {
  display: inline-block;
  background: var(--green);
  color: var(--white);
  text-decoration: none;
  border-radius: .5rem;
  padding: 1rem 1.5rem;
}

.button-orange a {  /* names like 'rss' or 'feed' gets blocked by uBlock Origin */
  background: #e05c1f;
}

.button .fa {
  margin-right: .3rem;
}

.content {
  max-width: 83.2rem;
  margin: 0 auto;
  padding: .8rem;
  padding-bottom: 0;
  line-height: 2.5rem;
}

.article h1,
.archives h1 {
  font-size: 5rem;
  margin: 6rem 0;
  text-align: center;
  line-height: 4.5rem;
}

h1 a {
  color: var(--black);
}

.home h2,
.archives h2 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.6rem;
  padding-bottom: .8rem;
  border-bottom: .15rem var(--black) solid;
  margin: 3rem 0 3rem 0;
}

strong {
  font-weight: 600;
}

.article-info {
  text-align: center;
  line-height: 1.5rem;
  margin: 6rem 0;
}

.article-info ul,
.article-info li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.article-info .article-translations,
.article-info .article-alternates {
  margin-bottom: 2rem;
}

.article-warning {
  text-align: center;
  border-radius: .5rem;
  margin: 6rem 0;
  padding: 2rem;
  background: var(--black);
  color: var(--white);
}

.article-warning p {
  margin: 0;
}

.article-warning a {
  color: var(--white);
  text-decoration: underline;
}

.article-content {
  margin: 6rem 0;
  padding: 0 .5rem;
}

.article-footer {
  clear: both;
}

.author {
  box-sizing: border-box;
  max-width: 51rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.1rem;
  border: 1px #e1e1e1 solid;
  border-radius: .5rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.05);
  padding: 2rem 3rem;
  margin: 6rem auto;
}

.author img {
  display: block;
  max-width: 6.4rem;
  border-radius: 100%;
  margin: 0 auto 2rem auto;
}

.home .author {
  margin-top: 3rem;
  margin-bottom: 9rem;
  padding: 3rem 4rem 2rem 4rem;
}

.archives .author {
  max-width: 42rem;
}

.home .author img {
  margin-bottom: 1.5rem;
}

.home .author h1,
.author-icons {
  margin: 1rem 0;
}

.home .author h1 {
  font-size: 2rem;
  font-weight: 600;
}

.author-icons {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.author-icons a {
  display: inline-block;
  color: var(--black);
  width: 1rem;
  margin: 0 .3rem;
}

.author-icons a:hover,
.author-icons a:focus,
.author-icons a:active {
  color: var(--green);
}

.highlight {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.highlight img {
  min-width: 6.4rem;
  max-height: 6.4rem;
  margin: 0 3rem 2rem 0;
}

.highlight p {
  margin-top: 0;
}

.archives {
  margin: 6rem 0;
}

.archives-nav {
  text-align: center;
  margin-bottom: 6rem;
}

.archives ul,
.archives li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.archives-article {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.archives .archives-article {
  margin-bottom: .5rem;
}

.archives time {
  display: inline-block;
  min-width: 8rem;
}

.entries {
  column-count: 2;
  column-gap: 2rem;
}

.entries,
.entry {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.entry {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 0;
  line-height: 2rem;
}

.entry > i {
  width: 2rem;
  text-align: center;
  margin: 0 1.6rem 0 .8rem;
  font-size: 2rem;
}

.entry h3 {
  margin: 0;
  font-weight: 300;
}

.entry p {
  margin: 0;
}

.entry .detached {
  margin-left: 1.5rem;
  white-space: nowrap;
}

.more {
  margin: 3rem 0 9rem 0;
  text-align: center;
}

.footer {
  text-align: center;
  background: #222;
  color: var(--light-grey);
  padding: 6rem 2rem;
  line-height: 2rem;
}

.footer a {
  color: var(--light-grey);
  text-decoration: underline;
}

.footer dl,
.footer dt,
.footer dd {
  padding: 0;
  margin: 0;
}

.footer dt,
.footer p {
  font-size: 1.4rem;
}

.footer dl {
  margin-bottom: 6rem;
}

.footer dt {
  color: #fff;
  font-weight: 600;
}

.footer dd {
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

.article-content h2,
.article-content h3,
.article-content h4 {
  margin: 3rem 0 1rem 0;
  font-weight: 600;
}

.article-content h2 {
  font-size: 2.4rem;
}

.article-content h3 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

.article-content h4 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.article-content h2 a,
.article-content h3 a,
.article-content h4 a {
  color: var(--black);
  text-decoration: underline;
}

.permalink {
  padding-left: 0.5rem;
}

.article-content .permalink a {
  color: var(--light-grey);
  text-decoration: none;
}

.permalink a:hover,
.permalink a:focus,
.permalink a:active {
  color: var(--grey);
  text-decoration: underline;
}

.article-content img {
  border-radius: 0.5rem;
}

.article-content img.left {
    margin: 0.5em 2em 2em 0;
    float: left;
}

.article-content img.right {
    margin: 0.5em 0 2em 2em;
    float: right;
}

.article-content ul {
    list-style: none;
    padding-left: 0.5rem;
}

.article-content ul > li::before {
    content: '■';
    font-size: 1rem;
    position: absolute;
    left: 0.3rem;
    top: 0;
    color: var(--green);
}

.article-content blockquote ul > li::before {
  color: var(--light-grey);
}

.article-content ul > li {
    position: relative;
    padding-left: 3.5rem;
}

.article-content ol {
  padding-left: 3rem;
}

.article-content ol > li {
  padding-left: 1rem;
}

figure {
  width: 100%;
  text-align: center;
  margin: 3rem auto;
}

iframe,
object,
figure > img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

figure .twitter-tweet {
  margin: 0;
  padding: 2rem;
  background: none;
  color: var(--twitter-blue);
  border: 0.15rem solid var(--twitter-blue);
  border-radius: 0.5rem;
  text-align: right;
  font-style: normal;
}

figure .twitter-tweet p {
  text-align: left;
  margin-top: 0;
}

figure .twitter-tweet a {
  color: var(--twitter-blue);
  text-decoration: underline;
}

code, kbd {
  background: #eee;
  padding: 0.1rem 0.5rem;
  font-family: monospace;
}

pre {
  line-height: 120%;
  margin: 1em 0; padding: 1em;
  overflow: auto;
  border-radius: 0.5rem;
}

pre code {
  background: none;
  padding: 0;
}

blockquote {
  border: 0.15rem solid var(--light-grey);
  border-radius: 0.5rem;
  color: #888;
  margin: 3rem 0;
  padding: 1rem 1rem 1rem 3rem;
}

blockquote a {
  color: #888;
  text-decoration: underline;
}

.article-poetry .article-content {
  text-align: center;
}

.article-poetry .article-content .prose {
  text-align: left;
}

.table {
  width: 100%;
  overflow-x: auto;
  margin: 3rem 0;
}

table,
th {
  border-width: 0;
  border-style: solid;
  border-color: var(--black);
}

table {
  border-collapse: collapse;
  border-bottom-width: .15rem;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

th {
  border-bottom-width: .15rem;
  background: var(--white);
}

tr:nth-of-type(even) {
  background: #f5f5f5;
}
