pelican[markdown]==4.8.0
strictyaml==1.6.1
requests==2.28.1
feedparser==6.0.10
lxml==4.9.1
cssselect==1.1.0
pillow==9.2.0
markdown-del-ins==1.0.0
python-slugify==6.1.2
pocket-recommendations==0.1.1
yt-dlp==2022.10.4
pod2gen==1.0.3
