<article>
    <header>
        <h1>
            {%- if use_summary -%}<a href="{{ SITEURL }}/{{ article.url }}">{%- endif -%}
            {{ article.title }}
            {%- if use_summary -%}</a>{%- endif -%}
        </h1>
        <small>
            <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
        </small>
    </header>

    {% if use_summary %}
        {% set article_content = article.summary %}
    {% else %}
        {% set article_content = article.content %}
    {% endif %}
    {{ article_content|figure|code }}

    <footer>
        <small>
            <a href="https://github.com/honzajavorek/blog/edit/master/posts/{{ article.date|format_date('%Y-%m-%d', strip_zeros=False) }}%20{{ article.slug }}.md">edit</a>
        </small>
    </footer>
</article>