<div class="article-container">
    <div class="header">
        <h1>
            {%- if use_summary -%}<a href="{{ SITEURL }}/{{ article.url }}">{%- endif -%}
            {{ article.title }}
            {%- if use_summary -%}</a>{%- endif -%}
        </h1>
        <small>
            <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
        </small>
    </div>

    <div class="article-content">
        {% if use_summary %}
            {% set article_content = article.summary %}
        {% else %}
            {% set article_content = article.content %}
        {% endif %}

        {{ article_content|figure|code }}
    </div>

    {% if not use_summary %}
    <div class="loading-area">
        <hr>

        <div class="profile">
            <h3><a href="{{ SITEURL }}">Honza Javorek</a></h3>
            <p>Jsem na volné noze, pro <a href="http://www.synopsi.tv/">Synopsi.TV</a> programuji v Pythonu a pro vás mohu navrhovat či konzultovat REST API. Každý měsíc zvu v Brně na <a href="http://lanyrd.com/series/brno-pyvo/">Pyvo</a>, vytvořil jsem <a href="http://python.cz/">python.cz</a>, <a href="http://zitkino.cz/">Žít kino</a> a <a href="https://github.com/honzajavorek">jiné milé drobnosti</a>. Profesní články píšu pro <a href="http://www.zdrojak.cz/autori/honza-javorek">Zdroják</a>.</p>
        </div>

        <hr>
        <div id="comments">
            <div class="widget kindle-container kindleWidget">
                <img src="https://d1xnn692s7u6t6.cloudfront.net/black-15.png"><span>Kindle</span>
            </div>
            <div class="widget fb-like-container">
                <div class="fb-like" data-send="false" data-width="450" data-show-faces="false"></div>
            </div>
            <div id="disqus_thread"></div>
            <script>
                var disqus_shortname = {{ DISQUS_SITENAME|tojson|safe }};
                var disqus_developer = 0;
                //var disqus_url = 'http:\/\/honzajavorek.cz\/blog\/' + {{ article.slug|tojson|safe }};
                var disqus_title = {{ article.title|tojson|safe }};

                (function() {
                    var dsq = document.createElement('script'); dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript><p class="noscript"><em>Bez JavaScriptu komentáře nejsou, se s tim smiř.</em></p></noscript>
        </div>
    </div>
    {% endif %}

    <div class="footer">
        {% if not use_summary %}
            <p class="aside-links"><a href="http://{{ DISQUS_SITENAME }}.disqus.com/{{ article.slug|replace('-', '_') }}/latest.rss">RSS komentářů</a></p>
        {% endif %}
    </div>
</div>
