{% if DEFAULT_PAGINATION %}
<p class="paginator">
    <span class="previous">
        {% if articles_page.has_previous() %}
            {% if articles_page.previous_page_number() == 1 %}
                <a href="{{ SITEURL }}/blog/">novější</a>
            {% else %}
                <a href="{{ SITEURL }}/blog/index{{ articles_page.previous_page_number() }}">novější</a>
            {% endif %}
        {% else %}
            <small>novější</small>
        {% endif %}
    </span>
    <span class="page_number">
        {{ articles_page.number }} / {{ articles_paginator.num_pages }}
    </span>
    <span class="next">
        {% if articles_page.has_next() %}
            <a href="{{ SITEURL }}/blog/index{{ articles_page.next_page_number() }}">starší</a>
        {% else %}
            <small>starší</small>
        {% endif %}
    </span>
</p>
{% endif %}
