{% extends 'base.html' %}
{% block class %}archives{% endblock %}
{% block title %}Herbář - {{ SITENAME }}{% endblock %}
{% block content %}
<h1>Herbář</h1>
<p>
    {% for year_group in dates|groupby('date.year')|reverse %}
        <a href="#archive-{{ year_group.grouper }}">{{ year_group.grouper }}</a>
        {% if not loop.last -%}&middot;{%- endif -%}
    {% endfor %}
</p>
<ul>
{% for year_group in dates|groupby('date.year')|reverse %}
    <li>
        <h2 id="archive-{{ year_group.grouper }}">
            {{ year_group.grouper }}
        </h2>
        {% for month_group in year_group.list|groupby('date.month')|reverse %}
            {% set entries_count = month_group.list|length %}
            <h3 id="archive-{{ year_group.grouper }}-{{ month_group.grouper }}">
                {{ month_group.grouper|month_name }} &ndash; {{ entries_count }}
            </h3>
            <ul>
            {% for article in month_group.list|reverse %}
                <li>
                    <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.date|format_date('%d.%m.') }}</time>
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
    </li>
{% endfor %}
</ul>
<p>Javorové lístky jsem začal psát 13.8.2007 ve svých necelých 20 letech.</p>
{% endblock %}
