{% extends "base.html" %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title }} &mdash; {{ BLOGNAME }}{% endblock %}

{% block image %}
  {% if article.image %}
    <meta property="og:image" content="{{ SITEURL }}/{{ article.image }}">
    <meta property="og:image:width" content="{{ article.image_width }}">
    <meta property="og:image:height" content="{{ article.image_height }}">
    <meta name="twitter:image" content="{{ SITEURL }}/{{ article.image }}">
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block head %}
  {{ super() }}

  <link rel="stylesheet" href="{{ SITEURL }}/theme/code.css">

  {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ BLOGNAME }} &mdash; Atom Feed">
  {% endif %}

  {% if article.translations %}
    {% for translation in article.translations %}
      <link rel="alternate" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{ translation.url }}">
    {% endfor %}
  {% endif %}

  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ article.date.isoformat() }}">
  <meta property="article:author" content="{{ SITEURL }}">
{% endblock %}

{% block content %}
<article class="article{% if article.style %} article-poetry{% endif %}">
  <header class="article-author author">
    <a href="{{ SITEURL }}" class="author-link">
      <img class="author-avatar" alt="Honza Javorek" src="{{ SITEURL }}/images/theme/honza.jpg" width="50" height="50">
      <span class="author-name">{{ AUTHOR }}</span>
    </a>
  </header>
  <h1 class="title display-5">
    {{ article.title }}
    <small class="permalink">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{% if article.lang == 'cs' %}Odkaz na tento článek{% else %}Link to this article{% endif %}">
        <i class="bi bi-link-45deg"></i>
      </a>
    </small>
  </h1>
  <footer class="article-info info">
    <ul class="info-list">
      <li class="info-published">
        <i class="bi bi-calendar"></i>
        <time datetime="{{ article.date.isoformat() }}">
          {{ article.locale_date }}
        </time>
      </li>
      <li class="info-readtime">
        <i class="bi bi-stopwatch"></i>
        {{ article.readtime }}
        {% if article.lang == 'cs' %}
          min čtení
        {% else %}
          min of reading
        {% endif %}
      </li>
      {% if article.translations %}
      <li class="info-translations">
        <i class="bi bi-globe"></i>
        {% if article.lang == 'cs' %}
          Překlady:
        {% else %}
          Translations:
        {% endif %}
        {% for translation in article.translations %}
          <a href="{{ SITEURL }}/{{ translation.url }}" hreflang="{{ translation.lang }}">{{ translation.lang|upper }}</a>
        {% endfor %}
      </li>
      {% endif %}
      {% if article.alternates %}
      <li class="info-alternates">
        <i class="bi bi-arrow-left-right"></i>
        {% if article.lang == 'cs' %}
          Vydáno také na:
        {% else %}
          Published also at:
        {% endif %}
        {% for alternate in article.alternates %}
          <a href="{{ alternate.url }}">{{ alternate.name }}</a>
          {%- if not loop.last -%}, {% endif -%}
        {%- endfor %}
      </li>
      {% endif %}
      <li class="info-analytics">
        <i class="bi bi-graph-up"></i>
        <a href="https://simpleanalytics.com/honzajavorek.cz?search=paths%3A{{ article.url.rstrip('/')|urlencode }}&interval=week&start={{ article.date.isoformat() }}&end=today">
          {% if article.lang == 'cs' %}
            Návštěvnost
          {% else %}
            Stats
          {% endif %}
        </a>
      </li>
    </ul>
  </footer>
  <main class="article-content">
    {% if (NOW.year - article.date.year) > OUTDATED_ARTICLE_YEARS %}
      <div class="alert alert-warning article-warning" role="alert">
        <p>
          <i class="bi bi-exclamation-triangle-fill"></i>
        {% if article.lang == 'cs' %}
          Tento článek vyšel
          <strong>před {{ NOW.year - article.date.year }} lety</strong>.
          Můžete si jej přečíst v rámci zkoumání minulosti, ale přepokládejte,
          že dnes se Honza již nemusí s obsahem ztotožňovat.
        {% else %}
          This article has been published
          <strong>{{ NOW.year - article.date.year }} years ago</strong>.
          If you're into internet
          archeology, read it — but at your own risk. Honza doesn't
          have to necessarily agree with the content by now.
        {% endif %}
        </p>
      </div>
    {% endif %}

    {{ article.content }}
  </main>

  {% if article.comments %}
  <section id="comments" class="article-comments comments">
    {% set telegram_comments = article.comments|selectattr('name', 'equalto', 'Telegram')|first %}
    {% if telegram_comments %}
      <div class="comments-telegram">
        <script>
          function comments(button) {
            button.setAttribute('disabled', '');
            const div = document.createElement('div');
            div.classList.add('comments-frame');
            const script = document.createElement('script');
            script.setAttribute('src', 'https://telegram.org/js/telegram-widget.js?21');
            script.dataset.telegramDiscussion = {{ telegram_comments.url|replace('https://t.me/', '')|tojson }};
            script.dataset.commentsLimit = 50;
            script.dataset.color = 212529;
            div.append(script);
            button.parentNode.append(div);
            button.remove();
          }
        </script>
        <button class="btn btn-primary btn-lg" onclick="comments(this);">
          <i class="bi bi-chat-dots"></i>
          {% if article.lang == 'cs' %}
            Komentáře
          {% else %}
            Comments
          {% endif %}
        </button>
      </div>
    {% else %}
      <h3 class="comments-heading">
        {%- if article.lang == 'cs' -%}
          Komentáře na
        {%- else -%}
          Comments at
        {%- endif -%}
      </h3>
      <ul class="comments-list">
      {% for comments in article.comments %}
        <li class="comments-item">
          <i class="bi bi-{{ comments.icon }}"></i>
          <a href="{{ comments.url }}">
            {{ comments.name -}}
          </a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </section>
  {% endif %}
  <footer class="article-footer mb-5">
    <div id="bio" class="article-bio bio">
      <header class="bio-header">
        <img class="bio-avatar" alt="Honza Javorek" src="{{ SITEURL }}/images/theme/honza.jpg" width="100" height="100" loading="lazy">
        <h3 class="bio-heading">Honza Javorek</h3>
      </header>
      <address class="bio-content">
        {% if article.lang == 'cs' %}
          Původně programátor, dnes už spíš podnikatel.
          Tvůrce <a href="https://junior.guru/">junior.guru</a>, projektu pro začátečníky v programování.
          Dlouholetý dobrovolník v <a href="https://python.cz">české Python komunitě</a>.
          Tohle je můj blog už {{ NOW.year - BLOG_FOUNDED_YEAR }} let.
        {% else %}
          Originally software engineer, now more of an enterpreneur.
          Creator of <a href="https://junior.guru/">junior.guru</a>, a project for Czech and Slovak beginners in coding.
          Long-term volunteer and <a href="https://pyvec.org/en/#members">official</a> in the <a href="https://python.cz/en/">Czech Python community</a>.
          This is my blog for {{ NOW.year - BLOG_FOUNDED_YEAR }} years now.
        {% endif %}
      </address>
      <ul class="bio-links list-unstyled">
        <li class="bio-links-item">
          <i class="bi bi-person-circle"></i> <a href="{{ SITEURL }}">{% if article.lang == 'cs' %}Osobní web{% else %}Personal site{% endif %}</a>
        </li>
        <li class="bio-links-item">
          <i class="bi bi-telegram"></i> <a href="https://t.me/honzajavorekcz">Telegram</a>
        </li>
        <li class="bio-links-item">
          <i class="bi bi-linkedin"></i> <a href="https://linkedin.com/in/honzajavorek">LinkedIn</a>
        </li>
        <li class="bio-links-item">
          <i class="bi bi-github"></i> <a href="https://github.com/honzajavorek/">GitHub</a>
        </li>
      </ul>
    </div>
  </footer>
</article>
{% endblock %}


{% block promo %}
<aside class="promo seealso">
  <div class="promo-content container">
    <h3 class="promo-heading fs-1">
      {%- if article.lang == 'cs' -%}
        Další Honzovy články
      {%- else -%}
        Read more by Honza
      {%- endif -%}
    </h3>
    <ul class="list-unstyled mb-0">
    {% for other_article in article.seealso %}
      <li class="mb-3">
        <i class="bi bi-file-earmark-text"></i>
        {{ other_article.date.year }} —
        <a href="{{ SITEURL }}/{{ other_article.url }}">
          {{ other_article.title -}}
        </a>
      </li>
    {% endfor %}
      <li>
        <i class="bi bi-search"></i>
        <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">
          {%- if article.lang == 'cs' -%}
            Archiv blogu
          {%- else -%}
            Blog archive
          {%- endif -%}
        </a>
      </li>
    </ul>
  </div>
</aside>
<aside class="promo jg">
  <div class="promo-content container">
    <img class="promo-logo" alt="junior.guru" src="{{ SITEURL }}/images/theme/chick.svg" width="100" loading="lazy">
    <h3 class="promo-heading fs-1">I ty můžeš programovat</h3>
    <div class="promo-text">
      <p>
        Programování je <strong>příležitost</strong>. Je to tvá výhoda v kanclu, laborce, redakci.
        Ale taky nová kariéra po rodičovské, pokračování nedokončené školy, nebo prostě náhrada za blbou práci.
      </p>
      <p>
        Chceš to zkusit? Na <strong>junior.guru</strong> najdeš všechno, co potřebuješ!
      </p>
    </div>
    <ul class="promo-nav lead">
      <li class="promo-nav-item">
        <i class="bi bi-book"></i> <a href="https://junior.guru/handbook/">Příručka</a>
      </li>
      <li class="promo-nav-item">
        <i class="bi bi-mic"></i> <a href="https://junior.guru/podcast/">Podcast</a>
      </li>
      <li class="promo-nav-item">
        <i class="bi bi-file-earmark-check"></i> <a href="https://junior.guru/jobs/">Práce</a>
      </li>
      <li class="promo-nav-item">
        <i class="bi bi-chat"></i> <a href="https://junior.guru/club/">Klub</a>
      </li>
    </ul>
  </div>
</aside>
{% endblock promo %}
