<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}{{ SITENAME }} Honzy Javorka{% endblock title %}</title>
        <script src="{{ SITEURL }}/theme/js/modernizr.custom.js"></script>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" media="screen,projection,tv">
        <link rel="alternate" type="application/rss+xml" title="Javorové lístky" href="{{ FEEDBURNER_URL }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/favicon.ico">

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endblock head %}
    </head>
    <body>
        <div id="document" class="{% block class %}{% endblock %}">
            <header>
                <a href="{{ SITEURL }}">
                <hgroup>
                    <h1>
                        Javorové<span id="logo">&nbsp;</span>lístky
                    </h1>
                    <h2>Honza Javorek</h2>
                </hgroup>
                </a>
            </header>

            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <nav>
            <h3>Hrábě</h3>
            <form action="https://www.google.com/cse" id="cse-search-box">
                <input type="hidden" name="cx" value="011917998094738623377:qowdxfpbkv4">
                <input type="hidden" name="ie" value="UTF-8">
                <input type="search" name="q" size="31" placeholder="Hledat">
                <button type="submit" name="sa">Prohrabat listí</button>
            </form>
        </nav>

        <footer>
            <h3>Zahradník</h3>
            <address>{{ 2007|copyright }} Honza Javorek</address>
            <p><small>
                <a href="{{ FEEDBURNER_URL }}">do čtečky</a>
                &middot;
                <a href="{{ FEEDBURNER_MAIL_URL }}">do mailu</a>
            </small></p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="{{ SITEURL }}/theme/js/jquery-1.7.2.min.js">\x3C/script>')</script>
        <script src="{{ SITEURL }}/theme/js/main.js"></script>
    </body>
</html>
