<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}{{ SITENAME }} Honzy Javorka{% endblock title %}</title>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
    {% endblock head %}
    </head>
    <body>
        <header>
            <a href="{{ SITEURL }}">
            <hgroup>
                <h1>
                    Javorové<span id="logo">&nbsp;</span>lístky
                </h1>
                <h2>Honza Javorek</h2>
            </hgroup>
            </a>
        </header>

        {% block content %}{% endblock %}

        <nav>
            <h3>Hrábě</h3>
            <form action="https://www.google.com/cse" id="cse-search-box">
                <input type="hidden" name="cx" value="011917998094738623377:qowdxfpbkv4">
                <input type="hidden" name="ie" value="UTF-8">
                <input type="search" name="q" size="31" placeholder="Hledat">
                <input type="submit" name="sa" value="Prohrabat listí" class="button">
            </form>
        </nav>

        <footer>
            <h3>Zahradník</h3>
            <address>{{ 2007|copyright }} Honza Javorek</address>
        </footer>
    </body>
</html>
