{% extends 'base.html' %}
{% block class %}page page_{{ page.slug|to_css_class }} expedition{% endblock %}
{% block title %}{{ page.title }} - Javorové expedice{% endblock %}
{% block title_noun %}expedice{% endblock %}
{% block home_link %}{{ SITEURL }}/expedice{% endblock %}
{% block fb %}{% endblock %}
{% block content %}

    <header>
        <h1>{{ page.title }}</h1>
        <p class="countries">
            {% for country_code in page.countries|split(',') %}
                {{ country_code|country_flag }}
            {% endfor %}
        </p>
        <p class="date_range">
            {% if page.begindate is defined %}
                <time datetime="{{ page.begindate|isoformat }}">{{ page.begindate|format_date('%d.%m.%Y') }}</time>
                {%- if page.enddate is defined -%}
                    &ndash;<time datetime="{{ page.enddate|isoformat }}">{{ page.enddate|format_date('%d.%m.%Y') }}</time>
                {%- endif -%}
            {% else %}
                teprve plánováno
            {% endif %}

            {% if page.begindate is defined and page.enddate is defined %}
                <br>
                <small>počet dní: {{ page.begindate|count_days(page.enddate) }}, pracovních: {{ page.begindate|count_days(page.enddate, True) }}</small>
            {% endif %}
        </p>
    </header>

    {% if page.map is defined %}
        {{ page.map|split(';')|map }}
    {% endif %}

    {% if page.people is defined %}
        <h2 id="ucastnici">Účastníci ({{ page.people|split_people|length }})</h2>
        <div class="people">
        {% for person in page.people|split_people %}
            <span class="person">
            {% if person.link %}
                <a href="{{ person.link }}">{{ person.avatar }} {{ person.name }}</a>
            {% else %}
                {{ person.avatar }} {{ person.name }}
            {% endif %}
            </span>
        {% endfor %}
        </div>
    {% endif %}

    {{ page.content }}

    <div class="loading_area">
    <hr>

    <section id="comments">
        <div class="fb_like">
            <div class="fb-like" data-send="false" data-width="450" data-show-faces="false"></div>
        </div>
        <div id="disqus_thread"></div>
        <script>
            var disqus_shortname = {{ DISQUS_SITENAME_EXPEDITIONS|tojson|safe }};
            var disqus_developer = 0;
            var disqus_title = {{ page.title|tojson|safe }};

            (function() {
                var dsq = document.createElement('script'); dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript><p class="noscript"><em>Bez JavaScriptu komentáře nejsou.</em></p></noscript>
    </section>
    </div>

{% endblock %}
