{% extends 'base.html' %}
{% block class %}index{% endblock %}
{% block content %}

    <h1>Lístky</h1>

    {% include '_pagination.html' %}
    <ul>
    {% for article in articles_page.object_list %}
        <li>{% include '_summary.html' %}</li>
    {% endfor %}
    </ul>
    {% include '_pagination.html' %}

    <div class="footer">
        <p class="aside-links">
            <a href="{{ SITEURL }}/{{ FEED_ATOM }}">RSS článků</a>
            &middot;
            <a href="http://{{ DISQUS_SITENAME }}.disqus.com/latest.rss">RSS komentářů</a>
        </p>
        <p class="aside-links">
            <a href="{{ SITEURL }}/archives{{ URL_EXT }}">herbář</a>
        </p>
    </div>

{% endblock %}
