{% extends "base.html" %}

{% block head %}
  {{ super() }}

  <meta name="description" content="Původně programátor, dnes už spíš podnikatel. Tvůrce junior.guru, projektu pro začátečníky v programování. Dlouholetý dobrovolník v české Python komunitě.">
  <meta property="og:title" content="Honza Javorek">
  <meta property="og:type" content="profile">
  <meta property="profile:first_name" content="Honza">
  <meta property="profile:last_name" content="Javorek">
{% endblock %}

{% block content %}
<section id="bio" class="bio bio-home">
  <header class="bio-header">
    <img class="bio-avatar" alt="Honza Javorek" src="{{ SITEURL }}/images/theme/honza.jpg" width="100" height="100" loading="lazy">
    <h1 class="bio-heading fs-3">Honza Javorek</h1>
  </header>
  <address class="bio-content">
    Původně programátor, dnes už spíš podnikatel.
    Tvůrce <a href="https://junior.guru/">junior.guru</a>, projektu pro začátečníky v programování.
    Dlouholetý dobrovolník v <a href="https://python.cz">české Python komunitě</a>.
    Podporovatel <a href="https://www.zeleni.cz/">Strany zelených</a>.
  </address>
  <ul class="bio-links list-unstyled">
    <li class="bio-links-item">
      <i class="bi bi-file-earmark-text"></i> <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Blog</a>
    </li>
    <li class="bio-links-item">
      <i class="bi bi-telegram"></i> <a href="https://t.me/honzajavorekcz">Telegram</a>
    </li>
    <li class="bio-links-item">
      <i class="bi bi-linkedin"></i> <a href="https://linkedin.com/in/honzajavorek">LinkedIn</a>
    </li>
    <li class="bio-links-item">
      <i class="bi bi-github"></i> <a href="https://github.com/honzajavorek/">GitHub</a>
    </li>
  </ul>
</section>
<section class="mb-5">
  <h2 class="mb-4">Moje úspěchy</h2>
  <div class="highlight">
    <img src="{{ SITEURL }}/images/theme/juniorguru.png" class="highlight-image" width="100" height="100">
    <div class="highlight-body">
      <h5 class="highlight-title">
        Vlastní podnikání
      </h5>
      <p class="highlight-text">
        Od roku {{ JG_FOUNDED_YEAR }} tvořím na plný úvazek <a href="https://junior.guru/">junior.guru</a>,
        projekt pro začátečníky v programování. Cílem je udržitelný byznys v jednom člověku,
        který mě bude bavit, pomůže lidem a vydělá tak akorát na provoz rodiny.
        Otevřeně sdílím
        {% for tag, articles in tags %}
          {% if tag.name == WEEKNOTES_TAG %}
          {% set article = articles|first %}
            <a href="{{ SITEURL + '/' + article.url }}">svou cestu</a>,
          {% endif %}
        {% endfor %}
        <a href="https://junior.guru/open/">finanční výsledky</a>,
        i <a href="https://github.com/honzajavorek/junior.guru/">kód</a>.
      </p>
    </div>
  </div>
  <div class="highlight">
    <img src="{{ SITEURL }}/images/theme/media.png" class="highlight-image" width="100" height="100">
    <div class="highlight-body">
      <h5 class="highlight-title">
        Spolupráce s médii
      </h5>
      <p class="highlight-text">
        Můj článek <a href="https://nazory.hn.cz/c7-66842510-o6u82-1feb79267e3aa75">Deset mýtů o práci programátorů</a>
        se týden držel na hlavní stránce Hospodářek v žebříčku nejčtenějších textů.
        Pro speciál „Ženy v IT“ na Heroine.cz jsem napsal <a href="https://www.heroine.cz/clanky/autor/70000223-honza-javorek">pět článků</a>
        a redakci jsem propojil se sponzory a dalšími autory.
      </p>
    </div>
  </div>
  <div class="highlight">
    <img src="{{ SITEURL }}/images/theme/apiary.png" class="highlight-image" width="100" height="100">
    <div class="highlight-body">
      <h5 class="highlight-title">
        Úspěšný startup
      </h5>
      <p class="highlight-text">
        Mezi lety 2014 a 2019 jsem byl v týmu lidí, kteří vytvářeli <a href="https://byznys.hn.cz/c1-65593630-oracle-kupuje-za-miliardy-korun-cesky-start-up-apiary-zakladatele-ve-firme-zustavaji">Apiary</a>, což byl do té doby jeden z nejúspěšnějších českých startupů.
        Firmu koupil Oracle. Jakub Nešetřil potom založil <a href="https://cesko.digital/">Česko.Digital</a>.
        Já jsem si založil <a href="https://junior.guru/">junior.guru</a>.
      </p>
    </div>
  </div>
  <div class="highlight">
    <img src="{{ SITEURL }}/images/theme/python.svg" class="highlight-image" width="100" height="100">
    <div class="highlight-body">
      <h5 class="highlight-title">
        Python komunita
      </h5>
      <p class="highlight-text">
        Zhruba {{ NOW.year - PYVO_FOUNDED_YEAR }} let pomáhám budovat českou <a href="https://python.cz">komunitu kolem programovacího jazyka Python</a>.
        Dobrovolnicky jsem se podílel na organizaci
        <a href="https://pyvo.cz/">hospodských srazů</a>,
        <a href="https://pyladies.cz/">kurzů a workshopů pro ženy</a>,
        nebo <a href="https://cz.pycon.org/">mezinárodních konferencí</a>.
        Jsem ve výboru neziskovky <a href="http://pyvec.org/">Pyvec</a>.
      </p>
    </div>
  </div>
  <div class="highlight">
    <img src="{{ SITEURL }}/images/theme/makers-menders.svg" class="highlight-image" width="100" height="100">
    <div class="highlight-body">
      <h5 class="highlight-title">
        Slavný článek
      </h5>
      <p class="highlight-text">
        Napsal jsem článek <a href="https://honzajavorek.cz/blog/kolonizatori-a-spravci-kolonii">Kolonizátoři a správci kolonií</a>
        o dvou povahách programátorů. Publikoval jej Zdroják.cz a dodnes se šíří mezi lidmi. Martin Malý na něj <a href="https://zdrojak.cz/clanky/mezi-kolonizatory-spravci/">reagoval</a>
        a vyšel z něj ve <a href="https://nazory.ihned.cz/c1-66258330-sloupek-martina-maleho-inovace-nevznikaji-ziranim-do-excelovskych-tabulek">svém sloupku pro Hospodářky</a>.
        Několikrát jsem o tématu i <a href="https://speakerdeck.com/honzajavorek/dve-programatorske-povahy">přednášel</a>.
      </p>
    </div>
  </div>
  <div class="highlight">
    <img src="{{ SITEURL }}/images/theme/dredd.png" class="highlight-image" width="100" height="100">
    <div class="highlight-body">
      <h5 class="highlight-title">
        Správa open source projektu
      </h5>
      <p class="highlight-text">
        Pět let jsem vedl vývoj a údržbu open source nástroje <a href="https://github.com/apiaryio/dredd">Dredd</a>.
        Staral jsem se o dokumentaci, přispěvatele, přednášel jsem. Mnohé mě naučil původní autor Dredda,
        <a href="https://www.linkedin.com/in/adamkliment/">Adam Kliment</a>.
        V mém týmu pracoval např. <a href="https://github.com/kettanaito/">Artem Zakharchenko</a>.
      </p>
    </div>
  </div>
</section>

<section class="mb-5">
  <h2>Možnosti spolupráce</h2>
  <p>
    Moje IČO je <a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_rzp.cgi?ico=74279858&xml=1&rozsah=0">74279858</a>. Psát
    mi můžete na <a href="mailto:mail&#64;honzajavorek.cz">mail&#64;<!---->honzajavorek.cz</a>
    nebo <a href="mailto:honza&#64;junior.guru">honza&#64;<!---->junior.guru</a>, není v nich žádný rozdíl.
    Snažím se odpovídat do týdne.
  </p>
  <dl>
    <dt><i class="bi bi-mic"></i> Host ve vašem podcastu, rozhovoru, nebo Q&A</dt>
    <dd>
      Nejspíš budu pro! Tento způsob preferuji. Vyžaduje to minimum mojí přípravy a přesto to má dosah.
    </dd>
    <dt><i class="bi bi-chat"></i> Přednášení na vaší konferenci</dt>
    <dd>
      Týden příprav a stresu. Dosah nic moc. Možná odmítnu, možná ne. Pokud je publikum relevantní pro moje téma a je jistota, že mě uvidí hodně lidí, jsem ochoten kývnout.
    </dd>
    <dt><i class="bi bi-file-earmark-text"></i> Psaní vašeho obsahu</dt>
    <dd>
      Napsat jeden článek mi zabere i týden. Raději ten týden věnuji psaní vlastního obsahu, třeba <a href="https://junior.guru/handbook/">příručky na junior.guru</a>.
      Ta má <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.cs">licenci</a>, která vám umožňuje texty převzít i upravit, a to i pro komerční účely.
      Stačí, když uvedete autora a výsledek vydáte pod stejnou licencí.
    </dd>
    <dt><i class="bi bi-megaphone"></i> Propagace vaší firmy nebo produktu</dt>
    <dd>
      Nejsem influencer, neposloužím. Mrkněte na <a href="https://junior.guru/pricing/">firemní ceník junior.guru</a>, třeba vám něco z toho bude dávat smysl.
    </dd>
  </dl>
</section>

<section id="appearances">
  <h2>Moje články a vystoupení</h2>
  <p>
    Kromě podcastů, přednášek nebo workshopů zahrnuje tento seznam i články, které jsem psal pro nejrůznější
    média, nebo texty původně z mého blogu, které se někde rozhodli převzít a publikovat u sebe.
  </p>
  <p>
    Celý <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">archiv mého blogu</a> má {{ articles|length }} položek,
    takže je tady jen ochutnávka v podobě několika vybraných článků, které buď z nějakého důvodu stojí za to,
    nebo vyšly relativně nedávno.
  </p>
  <ul class="entries">
  {% for appearance in appearances %}
    <li class="entry {% if loop.index > 10 %} archived{% endif %}">
      <i title="{{ appearance.type }}" class="bi bi-{% if appearance.type == 'talk' -%}
        chat
      {%- elif appearance.type == 'workshop' -%}
        code-slash
      {%- elif appearance.type == 'interview' -%}
        mic
      {%- elif appearance.type == 'text' -%}
        file-earmark-text
      {%- endif %}"></i>
      <div>
        <h3>
          {% if appearance.url %}
            <a href="{{ appearance.url }}">{{ appearance.title }}</a>
          {% else %}
            {{ appearance.title }}
          {% endif %}
        </h3>
        <p>
          <small>
            {{ appearance.date|strftime('%b') }} {{ appearance.date.year }}
            &mdash;
            {{ appearance.medium }}
            {% if appearance.resources_url %}
              <span class="hidden">&mdash;</span>
              <span class="detached">
                <i title="{{ appearance.resources_type }}" class="bi bi-{% if appearance.resources_type == 'slides' -%}
                  easel2
                {%- elif appearance.resources_type == 'text' -%}
                  file-earmark-text
                {%- endif %}" aria-hidden="true"></i>
                <a href="{{ appearance.resources_url }}">
                  {{- appearance.resources_type -}}
                </a>
              </span>
            {% endif %}
          </small>
        </p>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>

<section id="articles">
  <h2></h2>
  <ul class="entries">
  {% for entry in feeds_entries %}
    {% if loop.index0 < 10 %}
    <li class="entry">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <div>
        <h3>
          <a href="{{ entry.link }}">{{ entry.title }}</a>
          {% if entry.lang != DEFAULT_LANG %}
            <small>({{ entry.lang }})</small>
          {% elif entry.translations %}
            <small>({{ entry.lang }}, {% for translation in entry.translations -%}
              <a href="{{ translation.link }}">{{ translation.lang }}</a>
            {%- endfor %})</small>
          {% endif %}
        </h3>
        <p>
          <small>
            {{ entry.date|strftime('%b') }} {{ entry.date.year }}
            &mdash;
            <a href="{{ entry.feed_link }}">{{ entry.feed_title }}</a>
            {%- if entry.alternates %}
              (
              {%- for alternate in entry.alternates -%}
                  <a href="{{ alternate.link }}">{{ alternate.feed_title }}</a>
                  {%- if not loop.last -%}, {% endif -%}
              {%- endfor -%}
              )
            {%- endif -%}
          </small>
        </p>
      </div>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</section>

<!-- <section class="mb-5">
  <h2>Může se hodit</h2>
  <ul>
    <li>Sociální sítě: <a href="https://www.strava.com/athletes/31242569">Strava</a>, <a href="https://www.reddit.com/user/honzajavorek">Reddit</a>, <a href="https://www.facebook.com/honzajavorek">Facebook</a>, <a href="https://twitter.com/honzajavorek/">Twitter</a>, <a href="https://www.instagram.com/honza.javorek/">Instagram</a></li>
  </ul>
</section> -->
{% endblock content %}
