{% extends "base.html" %}

{% block head %}
  {{ super() }}

  <meta name="description" content="Původně programátor, dnes už spíš podnikatel. Tvůrce junior.guru, projektu pro začátečníky v programování. Dlouholetý dobrovolník v české Python komunitě.">
  <meta property="og:title" content="Honza Javorek">
  <meta property="og:type" content="profile">
  <meta property="profile:first_name" content="Honza">
  <meta property="profile:last_name" content="Javorek">
{% endblock %}

{% block content %}
<section id="bio" class="bio bio-home">
  <header class="bio-header">
    <img class="bio-avatar" alt="Honza Javorek" src="{{ SITEURL }}/images/theme/honza.jpg" width="100" height="100" loading="lazy">
    <h1 class="bio-heading fs-3">Honza Javorek</h1>
  </header>
  <address class="bio-content">
    Původně programátor, dnes už spíš podnikatel.
    Tvůrce <a href="https://junior.guru/">junior.guru</a>, projektu pro začátečníky v programování.
    Dlouholetý dobrovolník v <a href="https://python.cz">české Python komunitě</a>.
    Podporovatel <a href="https://www.zeleni.cz/">Strany zelených</a>.
  </address>
  <ul class="bio-links list-unstyled">
    <li class="bio-links-item">
      <i class="bi bi-file-earmark-text"></i> <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Blog</a>
    </li>
    <li class="bio-links-item">
      <i class="bi bi-mastodon"></i> <a href="https://mastodonczech.cz/@honzajavorek">Mastodon</a>
    </li>
    <li class="bio-links-item">
      <i class="bi bi-linkedin"></i> <a href="https://linkedin.com/in/honzajavorek">LinkedIn</a>
    </li>
    <li class="bio-links-item">
      <i class="bi bi-github"></i> <a href="https://github.com/honzajavorek/">GitHub</a>
    </li>
  </ul>
</section>
<section class="mb-5">
  <h2>Moje úspěchy</h2>
  <div class="highlight mt-4">
    <img src="{{ SITEURL }}/images/theme/juniorguru.png" class="highlight-image" width="100" height="100" loading="lazy">
    <div class="highlight-body">
      <h3 class="highlight-title fs-5">
        Vlastní podnikání
      </h3>
      <p class="highlight-text">
        Od roku {{ JG_FOUNDED_YEAR }} tvořím na plný úvazek <a href="https://junior.guru/">junior.guru</a>,
        projekt pro začátečníky v programování. Cílem je udržitelný byznys v jednom člověku,
        který mě bude bavit, pomůže lidem a vydělá tak akorát na provoz rodiny.
        Otevřeně sdílím
        {% for tag, articles in tags %}
          {% if tag.name == WEEKNOTES_TAG %}
          {% set article = articles|first %}
            <a href="{{ SITEURL + '/' + article.url }}">svou cestu</a>,
          {% endif %}
        {% endfor %}
        <a href="https://junior.guru/open/">finanční výsledky</a>,
        i <a href="https://github.com/honzajavorek/junior.guru/">kód</a>.
      </p>
    </div>
  </div>
  <div class="highlight">
    <img src="{{ SITEURL }}/images/theme/media.png" class="highlight-image" width="100" height="100" loading="lazy">
    <div class="highlight-body">
      <h3 class="highlight-title fs-5">
        Spolupráce s médii
      </h3>
      <p class="highlight-text">
        Můj článek <a href="https://nazory.hn.cz/c7-66842510-o6u82-1feb79267e3aa75">Deset mýtů o práci programátorů</a>
        se týden držel na hlavní stránce Hospodářek v žebříčku nejčtenějších textů.
        Pro speciál „Ženy v IT“ na Heroine.cz jsem napsal <a href="https://www.heroine.cz/clanky/autor/70000223-honza-javorek">pět článků</a>
        a redakci jsem propojil se sponzory a dalšími autory.
      </p>
    </div>
  </div>
  <div class="highlight">
    <img src="{{ SITEURL }}/images/theme/apiary.png" class="highlight-image" width="100" height="100" loading="lazy">
    <div class="highlight-body">
      <h3 class="highlight-title fs-5">
        Úspěšný startup
      </h3>
      <p class="highlight-text">
        Mezi lety 2014 a 2019 jsem byl v týmu lidí, kteří vytvářeli <a href="https://byznys.hn.cz/c1-65593630-oracle-kupuje-za-miliardy-korun-cesky-start-up-apiary-zakladatele-ve-firme-zustavaji">Apiary</a>, což byl do té doby jeden z nejúspěšnějších českých startupů.
        Firmu koupil Oracle. Jakub Nešetřil potom založil <a href="https://cesko.digital/">Česko.Digital</a>.
        Já jsem si založil <a href="https://junior.guru/">junior.guru</a>.
      </p>
    </div>
  </div>
  <div class="highlight">
    <img src="{{ SITEURL }}/images/theme/python.svg" class="highlight-image" width="100" height="100" loading="lazy">
    <div class="highlight-body">
      <h3 class="highlight-title fs-5">
        Python komunita
      </h3>
      <p class="highlight-text">
        Zhruba {{ NOW.year - PYVO_FOUNDED_YEAR }} let pomáhám budovat českou <a href="https://python.cz">komunitu kolem programovacího jazyka Python</a>.
        Dobrovolnicky jsem se podílel na organizaci
        <a href="https://pyvo.cz/">hospodských srazů</a>,
        <a href="https://pyladies.cz/">kurzů a workshopů pro ženy</a>,
        nebo <a href="https://cz.pycon.org/">mezinárodních konferencí</a>.
        Jsem ve výboru neziskovky <a href="http://pyvec.org/">Pyvec</a>.
      </p>
    </div>
  </div>
  <div class="highlight">
    <img src="{{ SITEURL }}/images/theme/makers-menders.svg" class="highlight-image" width="100" height="100" loading="lazy">
    <div class="highlight-body">
      <h3 class="highlight-title fs-5">
        Slavný článek
      </h3>
      <p class="highlight-text">
        Napsal jsem článek <a href="https://honzajavorek.cz/blog/kolonizatori-a-spravci-kolonii">Kolonizátoři a správci kolonií</a>
        o dvou povahách programátorů. Publikoval jej Zdroják.cz a dodnes se šíří mezi lidmi. Martin Malý na něj <a href="https://zdrojak.cz/clanky/mezi-kolonizatory-spravci/">reagoval</a>
        a vyšel z něj ve <a href="https://nazory.ihned.cz/c1-66258330-sloupek-martina-maleho-inovace-nevznikaji-ziranim-do-excelovskych-tabulek">svém sloupku pro Hospodářky</a>.
        Několikrát jsem o tématu i <a href="https://speakerdeck.com/honzajavorek/dve-programatorske-povahy">přednášel</a>.
      </p>
    </div>
  </div>
  <div class="highlight">
    <img src="{{ SITEURL }}/images/theme/dredd.png" class="highlight-image" width="100" height="100" loading="lazy">
    <div class="highlight-body">
      <h3 class="highlight-title fs-5">
        Správa open source projektu
      </h3>
      <p class="highlight-text">
        Pět let jsem vedl vývoj a údržbu open source nástroje <a href="https://github.com/apiaryio/dredd">Dredd</a>.
        Staral jsem se o dokumentaci, přispěvatele, přednášel jsem. Mnohé mě naučil původní autor Dredda,
        <a href="https://www.linkedin.com/in/adamkliment/">Adam Kliment</a>.
        V mém týmu pracoval např. <a href="https://github.com/kettanaito/">Artem Zakharchenko</a>.
      </p>
    </div>
  </div>
</section>

<section id="collaboration" class="mb-5">
  <h2>
    Možnosti spolupráce
    <small class="permalink">
      <a href="#collaboration" title="Odkaz na možnosti spolupráce">
        <i class="bi bi-link-45deg"></i>
      </a>
    </small>
  </h2>
  <p>
    Moje IČO je <a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_rzp.cgi?ico=74279858&xml=1&rozsah=0">74279858</a>. Psát
    mi můžete na <a href="mailto:mail&#64;honzajavorek.cz">mail&#64;<!---->honzajavorek.cz</a>
    nebo <a href="mailto:honza&#64;junior.guru">honza&#64;<!---->junior.guru</a>, není v nich žádný rozdíl.
    Snažím se odpovídat do týdne.
  </p>
  <dl>
    <dt><i class="bi bi-mic"></i> Host ve vašem podcastu, rozhovoru, nebo Q&A</dt>
    <dd>
      Nejspíš budu pro! Tento způsob preferuji. Vyžaduje to minimum mojí přípravy a přesto to má dosah.
    </dd>
    <dt><i class="bi bi-chat"></i> Přednášení na vaší konferenci</dt>
    <dd>
      Týden příprav a stresu. Dosah nic moc. Možná odmítnu, možná ne. Pokud je publikum relevantní pro moje téma a je jistota, že mě uvidí hodně lidí, jsem ochoten kývnout.
    </dd>
    <dt><i class="bi bi-file-earmark-text"></i> Psaní vašeho obsahu</dt>
    <dd>
      Napsat jeden článek mi zabere i týden. Raději ten týden věnuji psaní vlastního obsahu, třeba <a href="https://junior.guru/handbook/">příručky na junior.guru</a>.
      Ta má <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.cs">licenci</a>, která vám umožňuje texty převzít i upravit, a to i pro komerční účely.
      Stačí, když uvedete autora a výsledek vydáte pod stejnou licencí.
    </dd>
    <dt><i class="bi bi-megaphone"></i> Propagace vaší firmy nebo produktu</dt>
    <dd>
      Nejsem influencer, neposloužím. Mrkněte na <a href="https://junior.guru/pricing/">firemní ceník junior.guru</a>, třeba vám něco z toho bude dávat smysl.
    </dd>
  </dl>
</section>

<section id="profiles" class="mb-5">
  <h2>Moje další profily</h2>
  <p>
    Mým záměrem je omezit některé sociální sítě, abych měl víc času a mentální kapacity na hodnotnější věci.
  </p>
  <dl>
    <dt><i class="bi bi-hand-thumbs-up"></i> Kde jsem aktivní</dt>
    <dd>
      <a href="https://mastodonczech.cz/@honzajavorek">Mastodon</a>,
      <a href="https://discord.com/users/668226181769986078">Discord</a>,
      <a href="https://linkedin.com/in/honzajavorek">LinkedIn</a>,
      <a href="https://github.com/honzajavorek/">GitHub</a>,
      <a href="https://www.strava.com/athletes/31242569">Strava</a>.
    </dd>
    <dt><i class="bi bi-hand-thumbs-down"></i> Kde už být moc nechci</dt>
    <dd>
      <a href="https://www.facebook.com/honzajavorek">Facebook</a>,
      <a href="https://twitter.com/honzajavorek/">Twitter</a>,
      <a href="https://www.instagram.com/honza.javorek/">Instagram</a>,
      <a href="https://www.reddit.com/user/honzajavorek">Reddit</a>.
    </dd>
  </dl>
  <p>
    Měl jsem <a href="https://t.me/honzajavorekcz">kanál na Telegramu</a>, ale nahradil ho Mastodon.
  </p>
</section>

<section id="appearances">
  <h2>Moje články a vystoupení</h2>
  <p>
    Kromě podcastů, přednášek nebo workshopů zahrnuje tento seznam i články, které jsem psal pro nejrůznější
    média, nebo texty původně z mého blogu, které se někde rozhodli převzít a publikovat u sebe.
  </p>
  <p>
    Celý <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">archiv mého blogu</a> má {{ articles|length }} položek,
    takže z „Javorových lístků“ je tady pouze ochutnávka v podobě několika vybraných článků, které buď z nějakého důvodu stojí za to,
    nebo vyšly relativně nedávno.
  </p>
  <nav class="text-center mb-3">
    {% for year_group in appearances|groupby('date.year')|reverse %}
      <a href="#archives-{{ year_group.grouper }}">{{ year_group.grouper }}</a>
      {% if not loop.last -%}&middot;{%- endif -%}
    {% endfor %}
  </nav>
  <ul class="list-unstyled mt-4">
  {% for year_group in appearances|groupby('date.year')|reverse %}
    <li class="mb-4">
      <h3 id="appearances-{{ year_group.grouper }}" class="mb-3">
        {{ year_group.grouper }}
      </h3>
      <ul class="list-unstyled">
      {% for appearance in year_group.list %}
        <li class="highlight{% if not loop.last %} mb-3{% endif %}">
          <div class="highlight-date">
            <time datetime="{{ appearance.date.isoformat() }}">{{ appearance.date|strftime('%-d.%-m.') }}</time>
          </div>
          <div class="highlight-body">
            <h4 class="highlight-title fs-5 mb-1">
              {% if appearance.type == 'talk' -%}
                Přednáška:
              {%- elif appearance.type == 'workshop' -%}
                Workshop:
              {%- elif appearance.type == 'interview' -%}
                Rozhovor:
              {%- elif appearance.type == 'text' -%}
                Text:
              {%- endif %}
              {% if appearance.url %}
                <a href="{{ appearance.url }}">{{ appearance.title }}</a>
              {% else %}
                {{ appearance.title }}
              {% endif %}
            </h4>
            <ul class="highlight-text inline-section-list mb-0">
              <li class="inline-section-item">
                <i title="Text" class="bi bi-house"></i>
                {{ appearance.medium }}
              </li>
              {% if appearance.resources_url %}
                <li class="inline-section-item nowrap">
                  <i class="bi bi-{% if appearance.resources_type == 'slides' -%}
                    easel2
                  {%- elif appearance.resources_type == 'text' -%}
                    file-earmark-text
                  {%- endif %}"></i>
                  <a href="{{ appearance.resources_url }}">
                    {% if appearance.resources_type == 'slides' -%}
                      Slajdy
                    {%- elif appearance.resources_type == 'text' -%}
                      Materiály
                    {%- endif %}
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</section>
{% endblock content %}
