{% extends 'base.html' %}
{% block class %}page page_{{ page.slug|to_css_class }} plevin{% endblock %}
{% block title %}{{ page.title }} - Plevínské podhradí{% endblock %}
{% block title_h1 %}Plevínské podhradí{% endblock %}
{% block title_h2 %}Žít Plevín snadněji{% endblock %}
{% block home_link %}{{ SITEURL }}/plevin{% endblock %}
{% block search %}{% endblock %}
{% block content %}

    {{ page.content }}

{% endblock %}
{% block script %}<script src="{{ SITEURL }}/theme/js/plevin.js?v=1"></script>{% endblock %}
