[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "pylama"
serve = "python index.py serve"
freeze = "python index.py freeze --path=../_output"
deploy = "python index.py deploy --path=../_output --push"

[packages]
flask = "*"
libsass = "*"
feedparser = "*"
requests = "*"
lxml = "*"
cssselect = "*"
pyyaml = "*"

[dev-packages]
pylama = "*"
elsa = "*"

[requires]
python_version = "3.7"
