
.page-honza-javorek .permalink {
  display: none;
}

.page-honza-javorek .header {
  margin: 6rem 0 0 0;
}

.page-honza-javorek .header h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 4rem;
}

.page-honza-javorek .subheader {
  text-align: center;
  margin: 6rem 0 6rem 0;
}

.page-honza-javorek .subheader h2 {
  text-align: center;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
  line-height: normal;
}

.page-honza-javorek .cartoon {
  display: block;
  margin: 6rem auto 2rem auto;
}

.page-honza-javorek .cartoon[src*="software-engineer-cartoon"] {
  max-width: 150px;
}

.page-honza-javorek .cartoon[src*="activist-on-mission-cartoon"] {
  max-width: 200px;
  padding: 21.6px 0 21.6px 0;
}

.video {
  position: relative;
  margin: 2rem 0;
  display: block;
}

.video i {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-size: 4rem;
  color: #FFF;
  z-index: 1000;
}

.info {
  text-align: center;
}

.info img {
  margin: 4rem 0 8rem 0;
}

.info h2,
.info h3,
.info h4 {
  margin-top: 8rem;
}

.info ul,
.info ul li {
  padding-left: 0;
  list-style-type: none;
}

.info ul li::before {
  display: none;
}

.container::before {
  position: absolute;
  right: 0;
  top: 0.5rem;
  z-index: -1000;
  content: "";
  display: block;
  width: 260px;
  height: 200px;
  background-image: url('/images/site-design/maple-leaves.png');
  background-image: url('/images/site-design/maple-leaves.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}

@media only screen and (max-width: 992px) {
  .container::before { display: none; }
}

@media only screen and (max-width: 1100px) {
  .container::before { width: 200px; }
}
