/**
 * Stylesheet for CV.
 */

@import 'main.scss';

html { background: #FFF; font-size: 110%; }

#document { @include no-box-shadow(); }

.page #content {
    img {
        @include border-radius(0);
        @include opacity(0.6);
        vertical-align: middle;
    }

    .lead img, img:hover[title], img:hover[original-title] {
        // original-title is replacement made by tipsy
        @include opacity(1);
    }

    figure img:hover {
        @include opacity(0.6);
    }

    strong {
        padding: 0 0.1em;
        font-family: $font_content_title;
    }

    ul, ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        background: none;
        vertical-align: middle;
    }

    ul {
        text-align: center;
    }

    li {
        display: inline;
        margin: 0 0.5em;
    }

    h1, h2 {
        text-align: center;
        font-family: $font_content_title;
    }

    h1 {
        text-transform: uppercase;
        font-size: 200%;
    }

    .lead {
        margin: 2em 0 5em 0;
        text-align: center;
        font-size: 130%;
        font-family: $font_content_title;

        .images {
            position: relative;
        }

        .avatar {
            position: absolute;
            left: 50%; bottom: -12px;
            margin-left: 52px;
        }

        li {
            font-size: 80%;
            margin: 0 0.5em;
        }
    }

    .conditions {
        @include columns(2);

        h3 {
            margin-top: 2em;
        }
    }

    .hire_me {
        font-size: 150%;
        text-align: center;
        margin-bottom: 5em;
    }

    .caption {
        text-align: center;
    }

    .map {
        min-height: 400px;
        background: url('../../static/images/brno-europe.png') right top no-repeat;

        td, th {
            padding: 1em 0.3em;
        }

        th {
            padding-right: 2em;
        }
    }

    h2 {
        text-align: center;
        margin-top: 3em;
    }

    ul {
        margin: 2em 0;
    }

    table {
        margin: 2em 0 4em 0;
    }

    table, tr, th, td {
        border: none;
    }

    th {
        font-weight: normal;
    }

    small {
        color: $color_aside_text;
    }
}

@media screen and (max-width: 500px) {
    .page #content {
        .conditions {
            @include columns(1);
        }

        figure {
            display: none;
        }

        .map {
            background: none;
        }
    }
}
