/**
 * Main stylesheet.
 */

@import url('http://fonts.googleapis.com/css?family=Enriqueta&subset=latin,latin-ext#');
@import 'code.scss';

@font-face {
    font-family: 'AllerBold';
    src: url('../fonts/aller_bd-webfont.eot');
    src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bd-webfont.woff') format('woff'),
         url('../fonts/aller_bd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllerDisplayRegular';
    src: url('../fonts/allerdisplay-webfont.eot');
    src: url('../fonts/allerdisplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/allerdisplay-webfont.woff') format('woff'),
         url('../fonts/allerdisplay-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllerRegular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin hidden() {
    position: absolute;
    left: -38000px;
    visibility: hidden;
    line-height: 0;
    font-size: 0;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow() {
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

@mixin columns($count) {
    -webkit-column-count: $count;
    -webkit-column-gap: normal;
    -webkit-column-rule: medium none;
    -moz-column-count: $count;
    -moz-column-gap: normal;
    -moz-column-rule: medium none;
    column-count: $count;
    column-gap: normal;
    column-rule: medium none;
}

$font_content: 'Enriqueta', 'Georgia', serif;
$font_title: 'AllerDisplayRegular', sans-serif;
$font_subtitle: 'AllerRegular', sans-serif;
$letter_spacing_title: 0.05ex;
$letter_spacing_subtitle: $letter_spacing_title * 5;
$color_green: #97B600;
$color_text: #353535;
$color_text_emph: #000;
$color_aside_text: #A3A3A3;
$color_almost_invisible_text: #EEE;
$color_link: #779600;
$color_highlight: #FFFBAB;

body, html {
    color: $color_text;
    font-family: $font_content;
    margin: 0; padding: 0;
}

html { background: #FFF url('../images/cotton_paper.png'); }
body { text-align: center; line-height: 1.5em; font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; zoom: 1; }

a { color: $color_link; }
a:hover, a:focus { text-decoration: none; }
article a:visited { color: $color_text }
article a:active { position: relative; top: 1px; }
a:link, a:link span, .button, button { cursor: pointer; }

#document {
    background: #FFF;
    max-width: 850px;
    margin: 1em auto; padding: 1.5em 0 2em 0;
    text-align: left;
    @include border-radius(0.8em);
    @include box-shadow();
}

#document > header {
    text-align: center;
    text-transform: uppercase;
    padding: 0.3em 0;

    h1 {
        font-family: $font_title;
        font-size: 350%;
        position: relative;
        margin: 0;
        letter-spacing: $letter_spacing_title;
    }

    h2 {
        font-family: $font_subtitle;
        font-size: 120%;
        font-weight: normal;
        text-transform: uppercase;
        word-spacing: 0.1em;
        margin: 1em 0 3em 0;
        letter-spacing: $letter_spacing_subtitle;
    }

    a { display: block; color: $color_text; text-decoration: none; }
    a:hover, a:focus { color: $color_text_emph; }
}

@-moz-document url-prefix() {
    /* ugly 'gimme-firefox-only' hack */
    $fix_offset: 0.03ex;

    #document > header {
        h1 { letter-spacing: $letter_spacing_title - (5 * $fix_offset) }
        h2 { letter-spacing: $letter_spacing_subtitle - (1 * $fix_offset) }
    }

    article {
        /* TODO, test this properly! */
        h1 { letter-spacing: -4.5 * $fix_offset; }
        h2 { letter-spacing: -4.5 * $fix_offset; }
    }
}

#logo {
    $logo_size: 100px;

    width: $logo_size; height: $logo_size;
    background: url('../images/plain_logo.png') center no-repeat;
    font-size: $logo_size;
    line-height: $logo_size;
    font-weight: normal;
    margin: 0 -0.1em; padding-left: $logo_size;
    position: relative; top: 0.1ex;
}

.svg #logo {
    background-image: url('../images/plain_logo.svg');
}

body > nav h3, footer h3, .index #content > h1 { @include hidden(); }

#content {
    padding: 0 3em;
    font-size: 100%;

    h1 {
        font-size: 200%;
        line-height: normal;
    }

    & li {
        margin-bottom: 1em;
    }
}

h1, h2, h3, h4 {
    clear: both;
    position: relative;
    &:hover .anchor { visibility: visible; }
}

h2 { font-size: 150%; margin-bottom: 0.9em; }
h3 { font-size: 116%; margin-bottom: 0.5em; }
h4 { font-size: 102%; margin-bottom: 0.3em; }

.anchor {
    $anchor_size: 20px;

    font-size: 70%;
    display: block;
    position: absolute;
    left: -1 * $anchor_size; top: 0;
    width: 1.005 * $anchor_size;
    visibility: hidden;

    &, a, a:visited { color: $color_aside_text; }
    a { display: block; }
}

p, ul, ol, dl, table, blockquote, address { font-size: 1em; line-height: 1.8em; margin-bottom: 1em; }

img, a img { border: none; }
figure { text-align: center; img, iframe { margin: 1.5em auto; } }

pre { margin-bottom: 1.5em; }

p { margin: 0.3em 0 1em 0; }
p.poem { text-align: center; margin: 3em 0; }

blockquote {
    margin: 1.5em 0; padding: 0 0 0 1em;
    border-left: 4px solid $color_almost_invisible_text;
    text-indent: 0;
    font-style: italic;
}

small { font-size: 80%; }

code, sample, kbd, tt { @extend .highlight; padding: 0.2em 0.4em 0.1em 0.4em; }
pre, code, kbd, samp, tt { font-family: "Monospace font Firefox hack", Consolas, monospace; line-height: 120%; }
dfn, em, cite, var { font-style: italic; }

pre {
    margin: 1em 0; padding: 1em;
    overflow: auto;

    code, sample, kbd, tt { padding: 0; }
}

del { text-decoration: line-through; }

ins, mark {
    text-decoration: none;
    background-color: $color_highlight;
    color: $color_text;
    padding: 0.1em 0.4em 0.2em 0.4em;
}

abbr[title], acronym[title] {
    border-bottom: $color_text 1px dotted;
    cursor: help;

    &:hover {
        color: $color_aside_text;
        border-color: $color_aside_text;
    }
}

table { font-size: inherit; color: inherit; border-collapse: collapse; margin: 1.5em auto; }
th, td { vertical-align: top; border: 1px dotted $color_aside_text; padding: 0.5em 1em; }
caption { margin: 0.5em 0; }

dt, caption, th, strong { font-weight: bold; }

sup { vertical-align: super; }
sub { vertical-align: sub; }
sub, sup { font-size: 80%; }

ol, dl, article ul { margin: 1.5em 0; }
ol { padding-left: 2em; }
ol li { padding-left: 0; }
dd { margin-left: 2em; }

body > nav {
    padding: 3em 0;
    text-shadow: 2px 2px #FFF;

    input, button {
        padding: 0.5em;
    }
}

body > footer {
    padding-bottom: 3em;
    font-family: $font_subtitle;
    font-size: 80%;
    text-shadow: 1px 1px #FFF;

    &, a { color: $color_text; }
    address { font-style: normal; margin: 0; }
    p a { margin: 0 0.5em; }
}

article {
    position: relative;

    header {
        h1 { font-size: 200%; display: inline; }
        a { color: $color_text; text-decoration: none; }
        a:hover, a:focus { color: $color_link; }
        small { margin-left: 1em; }
    }

    footer {
        position: absolute;
        right: 0; top: 0;

        &, & a, & a:visited { color: $color_almost_invisible_text; }
        a:hover, a:focus { color: $color_link; }
    }

    #article_content {
        ul, ul li { list-style-type: none; }
        ul { padding: 0; }
        ul li { margin: 0; padding: 0 0 0 2em; background: url('../images/bullet-green.png') 0.5em 0.5em no-repeat; }

        img { @include border-radius(0.5em); margin: 0.5em; }
        img.right { float: right; margin-left: 1em; }
        img.left { float: left; margin-right: 1em; }
    }

    hr {
        $size: 50px;

        border: 0;
        background: none;
        margin: 0; margin-bottom: 1.8 * $size; padding: 0;

        &:before {
            display: block;
            content: "…";
            font-size: 250%;
            line-height: $size;
            text-align: center;
        }
    }
}

.paginator {
    clear: both;
    text-align: center;
    margin: 1em 0;

    .previous, .next { display: inline-block; width: 5em; }
    small { font-size: inherit; color: $color_aside_text; }
}

.archives_link {
    text-align: center;
    margin: 0.5em 0;
}

.index #content > ul {
    &, & > li {
        list-style-type: none;
        margin: 0; padding: 0;
    }

    & > li {
        margin: 3em 0;
    }
}

.article #content article {
    header { text-align: center; margin-bottom: 3em; }
    h1 { font-size: 260%; display: block; margin: 0 0 0.5em 0; }
    header small { margin: 0; font-size: 100%; }
}

.archives {
    h1, p {
        text-align: center;
    }

    h3 {
        font-size: 100%;
        font-weight: normal;
        color: $color_aside_text;
    }

    time {
        display: inline-block;
        width: 3em;
    }

    ul, ul li {
        list-style-type: none;
        margin: 0; padding: 0;
    }

    #content > ul {
        margin-bottom: 3em;
    }
}

.error404 {
    #content { text-align: center; }
    p { margin: 2em 0; }
    form { margin: 3em 0; }
    input, button { padding: 0.5em; }
}

#disqus_thread {
    margin: 0 !important;
}

#dsq-content {
    font-size: 100% !important;
    line-height: 100% !important;

    button {
        line-height: 100%;
    }

    ul, ul li {
        list-style-type: none;
    }

    #dsq-global-toolbar {
        margin: 0 0 4em 0;
    }

    .dsq-comment-header {
        background: $color_almost_invisible_text !important;
        border: none !important;

        a { color: $color_text; text-decoration: none; }
        a:hover, a:focus { text-decoration: none; }
    }

    .dsq-moderator-star, .dsq-collapse-toggle {
        @include hidden();
    }

    .dsq-header-avatar img {
        margin: 0.5em !important;
        display: block !important;
        border: none !important;
    }

    .dsq-request-user-info .dsq-header-avatar img {
        margin: 0 !important;
    }

    .dsq-moderator .dsq-comment-header {
        background: $color-highlight !important;
    }

    .dsq-comment-header-time {
        font-size: 90% !important;

        a, a:link, a:hover, a:focus {
            color: $color-text;
            text-decoration: none;
        }
    }

    .dsq-remove-message, .dsq-realtime-alert, .dsq-missing-permissions p {
        color: $color_text;
        background: $color_almost_invisible_text !important;
        border: none !important;
        margin: 2em 0 !important;
        padding: 1em !important;
        text-align: center !important;
        text-transform: uppercase !important;
        font-family: $font_content !important;
        font-size: 85%;
    }

    .dsq-comment-outline .dsq-comment-header {
        outline: none !important;
    }

    .dsq-comment-cite, .dsq-request-user-name {
        span, a {
            font-weight: normal !important;
            font-size: 120%;
        }
    }

    #dsq-reactions .dsq-reaction-header table {
        background: $color_almost_invisible_text !important;
    }

    .dsq-comment-hide-thread, .dsq-options, .dsq-post-report, #dsq-comments-title, .dsq-item-sort,
         .dsq-attach-media, #dsq-new-post h3, #dsq-sort-by, & > h3, #dsq-reply h3,
         .dsq-comment-flag, .dsq-share-on h4 {
        display: none !important;
    }

    & > h3.dsq-h3-reactions {
        display: block !important;
    }

    .dsq-notice {
        border: none !important;
        box-shadow: none;
    }

    .dsq-like-activity {
        margin: 0 !important; padding: 0 !important;
        font-size: 75% !important;
    }

    #dsq-content #dsq-footer li {
        float: none !important; // see #dsq-subscribe below
    }

    #dsq-subscribe {
        text-transform: lowercase !important;
        text-align: center !important;
        font-size: 75% !important;

        .dsq-font { display: none !important; }
        li, a, span, em { display: inline !important; float: none !important; margin: 0 !important; padding: 0 !important; }
        em { margin: 0 0.5em !important; }
        a.dsq-subscribe-rss:before { content: ' · '; }
    }
}

.js #comments_inner, .js .article hr {
    display: none;
}

.js .loading {
    min-height: 150px;
    background: url('../images/loader.gif') no-repeat center center;
}

.noscript {
    text-align: center;
}