/**
 * Main stylesheet.
 */

@import url('http://fonts.googleapis.com/css?family=Enriqueta&subset=latin,latin-ext#');
@import 'code.scss';
@import 'tipsy.scss';

// see http://stackoverflow.com/questions/4060607/font-face-anti-aliasing-on-windows-and-mac

@font-face {
    font-family: 'AllerDisplayRegular';
    src: url('../fonts/allerdisplay-webfont.eot');
    src: url('../fonts/allerdisplay-webfont.svg#AllerDisplayRegular') format('svg'),
         url('../fonts/allerdisplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/allerdisplay-webfont.woff') format('woff'),
         url('../fonts/allerdisplay-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllerRegular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.svg#AllerRegular') format('svg'),
         url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin hidden() {
    position: absolute;
    left: -38000px;
    visibility: hidden;
    line-height: 0;
    font-size: 0;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow() {
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

@mixin no-box-shadow() {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@mixin columns($count) {
    -webkit-column-count: $count;
    -webkit-column-gap: normal;
    -webkit-column-rule: none;
    -moz-column-count: $count;
    -moz-column-gap: normal;
    -moz-column-rule: none;
    column-count: $count;
    column-gap: normal;
    column-rule: none;
}

@mixin opacity($value) {
    zoom: 1;
    filter: alpha(opacity=#{$value * 100});
    opacity: $value;
}

@mixin clearfix() {
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
    zoom: 1;
}

$font_content: 'Palatino Linotype', 'Georgia', serif;
$font_content_title: 'Enriqueta', 'Georgia', serif;
$font_title: 'AllerDisplayRegular', sans-serif;
$font_subtitle: 'AllerRegular', sans-serif;
$letter_spacing_title: -0.1ex;
$letter_spacing_subtitle: $letter_spacing_title * -2.5;
$color_green: #97B600;
$color_text: #353535;
$color_text_emph: #000;
$color_aside_text: #777;
$color_almost_invisible_text: #EEE;
$color_link: #779600;
$color_highlight: #FFFBAB;

body, html {
    color: $color_text;
    font-family: $font_content;
    margin: 0; padding: 0;
}

html { background: #FFF url('../images/cotton_paper.png'); }
body { text-align: center; line-height: 1.5em; font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; zoom: 1; }

a { color: $color_link; }
a:hover, a:focus { text-decoration: none; }
article a:visited, .archives .content a:visited { color: $color_text; }
article a:active { position: relative; top: 1px; }
a:link, a:link span, .button, button { cursor: pointer; }

#document {
    background: #FFF;
    max-width: 850px;
    margin: 1em auto; padding: 1.5em 0 2em 0;
    text-align: left;
    @include border-radius(0.8em);
    @include box-shadow();
}

@media (max-width: 600px) {
    html { background: #FFF; }
    #document { @include no-box-shadow(); }
}

@media (max-width: 250px) {
    #document { padding: 0; padding-top: 1em; margin: 0; }
}

#document > header {
    text-align: center;
    text-transform: uppercase;
    padding: 0.3em 0;
    word-wrap: normal;

    h1 {
        font-family: $font_title;
        font-weight: normal;
        font-size: 350%;
        position: relative;
        margin: 0;
        letter-spacing: $letter_spacing_title;
        vertical-align: middle;
        line-height: normal;
    }

    h2 {
        font-family: $font_subtitle;
        font-size: 120%;
        font-weight: normal;
        text-transform: uppercase;
        word-spacing: 0.1em;
        margin: 1em 0 3em 0;
        letter-spacing: $letter_spacing_subtitle;
    }

    a { display: block; color: $color_text; text-decoration: none; }
    a:hover, a:focus { color: $color_text_emph; }
}

@-moz-document url-prefix() {
    /* ugly 'gimme-firefox-only' hack */
    $fix_offset: 0.03ex;

    article {
        h1 { letter-spacing: -2.5 * $fix_offset; }
        h2 { letter-spacing: -2.5 * $fix_offset; }
    }
}

.logo {
    $logo_size: 100px;

    width: $logo_size; height: $logo_size;
    background: url('../images/plain_logo.png') center no-repeat;
    font-size: $logo_size;
    line-height: $logo_size;
    font-weight: normal;
    margin: 0 -0.1em; padding-left: $logo_size;
    position: relative; top: 0.1ex;
}

@media (max-width: 600px) {
    #document > header {
        line-height: 400%;
        font-size: 80%;
        padding-bottom: 0;
    }

    .logo {
        display: inline;
        width: auto; height: auto;
        font-size: inherit;
        line-height: inherit;
        background: 0;
        margin: 0; padding: 0;
        position: static;
    }
}

body > nav h3, footer h3, .index .content > h1 { @include hidden(); }

.content {
    padding: 0 3em;
    font-size: 100%;

    h1 {
        font-size: 200%;
        line-height: normal;
    }

    & li {
        margin-bottom: 1em;
    }

    & > footer {
        margin: 3.5em 0 0 0;
    }
}

@media (max-width: 600px) {
    .content {
        margin: 0; padding: 0 0.5em;

        h1 { margin: 0; }
    }
}

h1, h2, h3, h4 {
    clear: both;
    position: relative;
    &:hover .anchor { visibility: visible; }
    .content & { font-family: $font_content_title; }
}

h2 { font-size: 150%; margin-bottom: 0.9em; }
h3 { font-size: 116%; margin-bottom: 0.5em; }
h4 { font-size: 102%; margin-bottom: 0.3em; }

.anchor {
    $anchor_size: 20px;

    font-size: 70%;
    display: block;
    position: absolute;
    left: -1 * $anchor_size; top: 0;
    width: 1.005 * $anchor_size;
    visibility: hidden;

    &, a, a:visited { color: $color_aside_text; }
    a { display: block; }
}

p, ul, ol, dl, table, blockquote, address { font-size: 1em; line-height: 1.8em; margin-bottom: 1em; }

img, a img { border: none; }
figure { text-align: center; img, iframe { margin: 1.5em auto; } }
.content .twitter-tweet-rendered { margin: 1.5em auto !important; }

pre { margin-bottom: 1.5em; }

p { margin: 0.3em 0 1em 0; }
p.poem { text-align: center; margin: 3em 0; }

blockquote {
    margin: 1.5em 0; padding: 0 0 0 1em;
    border-left: 4px solid $color_almost_invisible_text;
    text-indent: 0;
    font-style: italic;
}

small { font-size: 80%; }

code, sample, kbd, tt { @extend .highlight; padding: 0.2em 0.4em 0.1em 0.4em; }
pre, code, kbd, samp, tt { font-family: "Monospace font Firefox hack", Consolas, monospace; line-height: 120%; }
dfn, em, cite, var { font-style: italic; }

pre {
    margin: 1em 0; padding: 1em;
    overflow: auto;

    code, sample, kbd, tt { padding: 0; }
}

del { text-decoration: line-through; }

ins, mark {
    text-decoration: none;
    background-color: $color_highlight;
    color: $color_text;
    padding: 0.1em 0.4em 0.2em 0.4em;
}

abbr[title], acronym[title] {
    border-bottom: $color_text 1px dotted;
    cursor: help;

    &:hover {
        color: $color_aside_text;
        border-color: $color_aside_text;
    }
}

table { font-size: inherit; color: inherit; border-collapse: collapse; margin: 1.5em auto; }
th, td { vertical-align: top; border: 1px dotted $color_aside_text; padding: 0.5em 1em; }
caption { margin: 0.5em 0; }

dt, caption, th, strong { font-weight: bold; }

sup { vertical-align: super; }
sub { vertical-align: sub; }
sub, sup { font-size: 80%; }

ol, dl, article ul { margin: 1.5em 0; }
ol { padding-left: 2em; }
ol li { padding-left: 0; }
dd { margin-left: 2em; }

body > nav {
    padding: 3em 0;
    text-shadow: 2px 2px #FFF;

    input, button {
        padding: 0.5em;
    }
}

body > footer {
    padding-bottom: 3em;
    font-family: $font_subtitle;
    font-size: 80%;
    text-shadow: 1px 1px #FFF;

    &, a { color: $color_text; }
    address { font-style: normal; margin: 0; }
    p a { margin: 0 0.5em; }
}

@media (max-width: 250px) {
    nav, footer { display: none; }
}

article {
    position: relative;
    clear: both;

    header {
        h1 { font-size: 200%; display: inline; }
        a { color: $color_text; text-decoration: none; }
        a:hover, a:focus { color: $color_link; }
        small { margin-left: 1em; }
    }

    footer small {
        display: block;
        position: absolute;
        right: 0; top: 0;

        &, & a, & a:visited { color: $color_almost_invisible_text; }
        a:hover, a:focus { color: $color_link; }
    }
}

article .article_content, .page .content {
    ul, ul li { list-style-type: none; }
    ul { padding: 0; }
    ul li { margin: 0; padding: 0 0 0 2em; background: url('../images/bullet-green.png') 0.5em 0.5em no-repeat; }

    img { @include border-radius(0.5em); margin: 0.5em; }
    img.right { float: right; margin-left: 1em; }
    img.left { float: left; margin-right: 1em; }
}

article hr, .page hr {
    $size: 50px;

    border: 0;
    background: none;
    margin: 0; margin-bottom: 1.8 * $size; padding: 0;

    &:before {
        display: block;
        content: "…";
        font-size: 250%;
        line-height: $size;
        text-align: center;
    }
}

.paginator {
    clear: both;
    text-align: center;
    margin: 1em 0;

    .previous, .next { display: inline-block; width: 5em; }
    small { font-size: inherit; color: $color_aside_text; }
}

.aside_links {
    text-align: center;
    font-size: 80%;
    margin: 0.5em 0;
}

.index .content > ul {
    &, & > li {
        list-style-type: none;
        margin: 0; padding: 0;
    }

    & > li {
        margin: 3em 0;
    }
}

.article .content article {
    header { text-align: center; margin-bottom: 3em; }
    h1 { font-size: 260%; display: block; margin: 0 0 0.5em 0; }
    header small { margin: 0; font-size: 100%; }
}

.page .content h1 {
    text-align: center;
}

#document.page_kontakt {
    text-align: center;
}

.archives {
    h1, p {
        text-align: center;
    }

    h3 {
        font-size: 100%;
        font-weight: normal;
        color: $color_aside_text;
    }

    time {
        display: inline-block;
        width: 3em;
    }

    ul, ul li {
        list-style-type: none;
        margin: 0; padding: 0;
    }

    .content > ul {
        margin-bottom: 3em;
    }
}

.plevin .content {
    h2 {
        margin-top: 0;
        text-align: center;
    }

    .schedule {
        margin: 1em auto;
        width: 100%;

        th, td {
            border: none;
            border-bottom: 1px dotted $color_aside_text;
            padding: 0.2em 0.5em;
            text-align: center;
        }

        tr.today { background: $color_highlight; }

        &.collapsed {
            font-size: 200%;
            line-height: normal;
            font-family: $font_content_title;
            color: $color_green;
            font-weight: bold;
            margin: 1em 0;

            th, td { border: none; padding: 0; }
            th { display: none; }
            tr { display: none; }

            tr.today {
                display: table-row;
                background: none;
            }
        }
    }

    #menu, #offers {
        margin: 2em 0;

        .placeholder {
            text-align: center;
            padding: 2em 0 4em 0;
        }

        .dishes {
            width: 100%;

            td, th { border: none; }
            tr { border-bottom: 1px dotted $color_aside_text; }
            .price { font-weight: bold; }
        }

        &.collapsed {
            cursor: pointer;

            h3, .dishes { display: none; }
            .today { display: table; }
        }
    }
}

.expeditions .content {
    h1, p {
        text-align: center;
    }

    .expeditions_list {
        margin: 4em 0 3em 0;
    }

    section {
        position: relative;
        clear: both;

        header {
            h1 { font-size: 150%; margin-bottom: 2em; display: inline; }
            a { color: $color_text; text-decoration: none; }
            a:hover, a:focus { color: $color_link; }
            small span { margin-left: 1em; }
        }

        p {
            text-align: left;
        }

        .countries img {
            margin-right: 0.3em;
            &:last-child { margin-right: 0em; }
        }
    }
}

.expedition {
    header p {
        text-align: center;
    }

    .people {
        @include clearfix();
    }

    .person {
        display: block;
        width: 100px;
        height: 130px;
        text-align: center;
        font-size: 90%;
        float: left;

        img {
            display: block;
            margin: 0.5em auto;
        }

        a {
            text-decoration: none;
            color: $color_text;
        }

        a:hover {
            text-decoration: underline;
            color: $color_link;
        }
    }
}

.countries img {
    cursor: help;
}

.page_404 {
    .content { text-align: center; }
    p { margin: 2em 0; }
    form { margin: 3em 0; }
    input, button { padding: 0.5em; }
}

.page_kino {
    .content { text-align: center; padding-bottom: 5em; }
    .content h1 { margin-bottom: 2em; }
}

#disqus_thread {
    margin: 0 !important;
}

#comments, .content {
    position: relative;
}

.fb_like {
    height: 24px;
    position: relative;
    margin-bottom: 1em;

    .fb-like {
        position: absolute;
        left: 0; top: 0;
    }
}

.js .loading_area {
    min-height: 150px;
    background: url('../images/loader.gif') no-repeat center center;

    section, hr {
        visibility: hidden;
        position: absolute; left: -38000px;
    }
}

.js.ready .loading_area {
    min-height: auto;
    background: none;

    section, hr {
        visibility: visible;
        position: static; left: 0;
    }
}

.noscript {
    text-align: center;
}

.tipsy-inner {
    padding: 0 1em;
}
