/**
 * Main stylesheet.
 */
@import url(http://fonts.googleapis.com/css?family=Enriqueta&subset=latin,latin-ext#.css);
/**
 * Code highlight stylesheet.
 * Monokai theme.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\000036}}
.highlight .hll, code .hll, sample .hll, kbd .hll, tt .hll {
  background-color: #49483e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\000037}}
.highlight, code, sample, kbd, tt {
  background: #272822;
  color: #f8f8f2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\000038}}
.highlight .c, code .c, sample .c, kbd .c, tt .c {
  color: #75715e;
}

/* Comment */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\000039}}
.highlight .err, code .err, sample .err, kbd .err, tt .err {
  color: #960050;
  background-color: #1e0010;
}

/* Error */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000310}}
.highlight .k, code .k, sample .k, kbd .k, tt .k {
  color: #66d9ef;
}

/* Keyword */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000311}}
.highlight .l, code .l, sample .l, kbd .l, tt .l {
  color: #ae81ff;
}

/* Literal */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000312}}
.highlight .n, code .n, sample .n, kbd .n, tt .n {
  color: #f8f8f2;
}

/* Name */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000313}}
.highlight .o, code .o, sample .o, kbd .o, tt .o {
  color: #f92672;
}

/* Operator */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000314}}
.highlight .p, code .p, sample .p, kbd .p, tt .p {
  color: #f8f8f2;
}

/* Punctuation */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000315}}
.highlight .cm, code .cm, sample .cm, kbd .cm, tt .cm {
  color: #75715e;
}

/* Comment.Multiline */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000316}}
.highlight .cp, code .cp, sample .cp, kbd .cp, tt .cp {
  color: #75715e;
}

/* Comment.Preproc */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000317}}
.highlight .c1, code .c1, sample .c1, kbd .c1, tt .c1 {
  color: #75715e;
}

/* Comment.Single */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000318}}
.highlight .cs, code .cs, sample .cs, kbd .cs, tt .cs {
  color: #75715e;
}

/* Comment.Special */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000319}}
.highlight .ge, code .ge, sample .ge, kbd .ge, tt .ge {
  font-style: italic;
}

/* Generic.Emph */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000320}}
.highlight .gs, code .gs, sample .gs, kbd .gs, tt .gs {
  font-weight: bold;
}

/* Generic.Strong */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000321}}
.highlight .kc, code .kc, sample .kc, kbd .kc, tt .kc {
  color: #66d9ef;
}

/* Keyword.Constant */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000322}}
.highlight .kd, code .kd, sample .kd, kbd .kd, tt .kd {
  color: #66d9ef;
}

/* Keyword.Declaration */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000323}}
.highlight .kn, code .kn, sample .kn, kbd .kn, tt .kn {
  color: #f92672;
}

/* Keyword.Namespace */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000324}}
.highlight .kp, code .kp, sample .kp, kbd .kp, tt .kp {
  color: #66d9ef;
}

/* Keyword.Pseudo */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000325}}
.highlight .kr, code .kr, sample .kr, kbd .kr, tt .kr {
  color: #66d9ef;
}

/* Keyword.Reserved */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000326}}
.highlight .kt, code .kt, sample .kt, kbd .kt, tt .kt {
  color: #66d9ef;
}

/* Keyword.Type */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000327}}
.highlight .ld, code .ld, sample .ld, kbd .ld, tt .ld {
  color: #e6db74;
}

/* Literal.Date */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000328}}
.highlight .m, code .m, sample .m, kbd .m, tt .m {
  color: #ae81ff;
}

/* Literal.Number */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000329}}
.highlight .s, code .s, sample .s, kbd .s, tt .s {
  color: #e6db74;
}

/* Literal.String */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000330}}
.highlight .na, code .na, sample .na, kbd .na, tt .na {
  color: #a6e22e;
}

/* Name.Attribute */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000331}}
.highlight .nb, code .nb, sample .nb, kbd .nb, tt .nb {
  color: #f8f8f2;
}

/* Name.Builtin */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000332}}
.highlight .nc, code .nc, sample .nc, kbd .nc, tt .nc {
  color: #a6e22e;
}

/* Name.Class */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000333}}
.highlight .no, code .no, sample .no, kbd .no, tt .no {
  color: #66d9ef;
}

/* Name.Constant */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000334}}
.highlight .nd, code .nd, sample .nd, kbd .nd, tt .nd {
  color: #a6e22e;
}

/* Name.Decorator */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000335}}
.highlight .ni, code .ni, sample .ni, kbd .ni, tt .ni {
  color: #f8f8f2;
}

/* Name.Entity */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000336}}
.highlight .ne, code .ne, sample .ne, kbd .ne, tt .ne {
  color: #a6e22e;
}

/* Name.Exception */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000337}}
.highlight .nf, code .nf, sample .nf, kbd .nf, tt .nf {
  color: #a6e22e;
}

/* Name.Function */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000338}}
.highlight .nl, code .nl, sample .nl, kbd .nl, tt .nl {
  color: #f8f8f2;
}

/* Name.Label */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000339}}
.highlight .nn, code .nn, sample .nn, kbd .nn, tt .nn {
  color: #f8f8f2;
}

/* Name.Namespace */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000340}}
.highlight .nx, code .nx, sample .nx, kbd .nx, tt .nx {
  color: #a6e22e;
}

/* Name.Other */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000341}}
.highlight .py, code .py, sample .py, kbd .py, tt .py {
  color: #f8f8f2;
}

/* Name.Property */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000342}}
.highlight .nt, code .nt, sample .nt, kbd .nt, tt .nt {
  color: #f92672;
}

/* Name.Tag */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000343}}
.highlight .nv, code .nv, sample .nv, kbd .nv, tt .nv {
  color: #f8f8f2;
}

/* Name.Variable */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000344}}
.highlight .ow, code .ow, sample .ow, kbd .ow, tt .ow {
  color: #f92672;
}

/* Operator.Word */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000345}}
.highlight .w, code .w, sample .w, kbd .w, tt .w {
  color: #f8f8f2;
}

/* Text.Whitespace */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000346}}
.highlight .mf, code .mf, sample .mf, kbd .mf, tt .mf {
  color: #ae81ff;
}

/* Literal.Number.Float */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000347}}
.highlight .mh, code .mh, sample .mh, kbd .mh, tt .mh {
  color: #ae81ff;
}

/* Literal.Number.Hex */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000348}}
.highlight .mi, code .mi, sample .mi, kbd .mi, tt .mi {
  color: #ae81ff;
}

/* Literal.Number.Integer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000349}}
.highlight .mo, code .mo, sample .mo, kbd .mo, tt .mo {
  color: #ae81ff;
}

/* Literal.Number.Oct */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000350}}
.highlight .sb, code .sb, sample .sb, kbd .sb, tt .sb {
  color: #e6db74;
}

/* Literal.String.Backtick */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000351}}
.highlight .sc, code .sc, sample .sc, kbd .sc, tt .sc {
  color: #e6db74;
}

/* Literal.String.Char */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000352}}
.highlight .sd, code .sd, sample .sd, kbd .sd, tt .sd {
  color: #e6db74;
}

/* Literal.String.Doc */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000353}}
.highlight .s2, code .s2, sample .s2, kbd .s2, tt .s2 {
  color: #e6db74;
}

/* Literal.String.Double */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000354}}
.highlight .se, code .se, sample .se, kbd .se, tt .se {
  color: #ae81ff;
}

/* Literal.String.Escape */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000355}}
.highlight .sh, code .sh, sample .sh, kbd .sh, tt .sh {
  color: #e6db74;
}

/* Literal.String.Heredoc */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000356}}
.highlight .si, code .si, sample .si, kbd .si, tt .si {
  color: #e6db74;
}

/* Literal.String.Interpol */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000357}}
.highlight .sx, code .sx, sample .sx, kbd .sx, tt .sx {
  color: #e6db74;
}

/* Literal.String.Other */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000358}}
.highlight .sr, code .sr, sample .sr, kbd .sr, tt .sr {
  color: #e6db74;
}

/* Literal.String.Regex */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000359}}
.highlight .s1, code .s1, sample .s1, kbd .s1, tt .s1 {
  color: #e6db74;
}

/* Literal.String.Single */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000360}}
.highlight .ss, code .ss, sample .ss, kbd .ss, tt .ss {
  color: #e6db74;
}

/* Literal.String.Symbol */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000361}}
.highlight .bp, code .bp, sample .bp, kbd .bp, tt .bp {
  color: #f8f8f2;
}

/* Name.Builtin.Pseudo */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000362}}
.highlight .vc, code .vc, sample .vc, kbd .vc, tt .vc {
  color: #f8f8f2;
}

/* Name.Variable.Class */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000363}}
.highlight .vg, code .vg, sample .vg, kbd .vg, tt .vg {
  color: #f8f8f2;
}

/* Name.Variable.Global */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000364}}
.highlight .vi, code .vi, sample .vi, kbd .vi, tt .vi {
  color: #f8f8f2;
}

/* Name.Variable.Instance */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/code\.scss}line{font-family:\0000365}}
.highlight .il, code .il, sample .il, kbd .il, tt .il {
  color: #ae81ff;
}

/* Literal.Number.Integer.Long */
@font-face {
  font-family: 'AllerBold';
  src: url("../fonts/aller_bd-webfont.eot");
  src: url("../fonts/aller_bd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_bd-webfont.woff") format("woff"), url("../fonts/aller_bd-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AllerDisplayRegular';
  src: url("../fonts/allerdisplay-webfont.eot");
  src: url("../fonts/allerdisplay-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/allerdisplay-webfont.woff") format("woff"), url("../fonts/allerdisplay-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AllerRegular';
  src: url("../fonts/aller_rg-webfont.eot");
  src: url("../fonts/aller_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_rg-webfont.woff") format("woff"), url("../fonts/aller_rg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\0000383}}
body, html {
  color: #353535;
  font-family: "Enriqueta", "Georgia", serif;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\0000389}}
html {
  background: white url("../images/cotton_paper.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\0000390}}
body {
  text-align: center;
  line-height: 1.5em;
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\0000392}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\0000394}}
a {
  color: #779600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\0000395}}
a:hover, a:focus {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\0000396}}
article a:visited {
  color: #353535;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\0000397}}
article a:active {
  position: relative;
  top: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\0000398}}
a:link, a:link span, .button, button {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003100}}
#document {
  background: #FFF;
  max-width: 850px;
  margin: 1em auto;
  padding: 1.5em 0 2em 0;
  text-align: left;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
  -webkit-box-shadow: 0 0 5px #888;
  -moz-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003109}}
#document > header {
  text-align: center;
  text-transform: uppercase;
  padding: 0.3em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003114}}
#document > header h1 {
  font-family: "AllerDisplayRegular", sans-serif;
  font-size: 350%;
  position: relative;
  margin: 0;
  letter-spacing: 0.05ex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003122}}
#document > header h2 {
  font-family: "AllerRegular", sans-serif;
  font-size: 120%;
  font-weight: normal;
  text-transform: uppercase;
  word-spacing: 0.1em;
  margin: 1em 0 3em 0;
  letter-spacing: 0.25ex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003132}}
#document > header a {
  display: block;
  color: #353535;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003133}}
#document > header a:hover, #document > header a:focus {
  color: black;
}

@-moz-document url-prefix() {
  /* ugly 'gimme-firefox-only' hack */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003141}}
  #document > header h1 {
    letter-spacing: -0.1ex;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003142}}
  #document > header h2 {
    letter-spacing: 0.22ex;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003145}}
  article {
    /* TODO, test this properly! */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003147}}
  article h1 {
    letter-spacing: -0.135ex;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003148}}
  article h2 {
    letter-spacing: -0.135ex;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003152}}
#logo {
  width: 100px;
  height: 100px;
  background: url("../images/plain_logo.png") center no-repeat;
  font-size: 100px;
  line-height: 100px;
  font-weight: normal;
  margin: 0 -0.1em;
  padding-left: 100px;
  position: relative;
  top: 0.1ex;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003164}}
.svg #logo {
  background-image: url("../images/plain_logo.svg");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003168}}
body > nav h3, footer h3, .index #content > h1 {
  position: absolute;
  left: -38000px;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003170}}
#content {
  padding: 0 3em;
  font-size: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003174}}
#content h1 {
  font-size: 200%;
  line-height: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003179}}
#content li {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003183}}
#content > footer {
  margin: 3.5em 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003188}}
h1, h2, h3, h4 {
  clear: both;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003191}}
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor {
  visibility: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003194}}
h2 {
  font-size: 150%;
  margin-bottom: 0.9em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003195}}
h3 {
  font-size: 116%;
  margin-bottom: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003196}}
h4 {
  font-size: 102%;
  margin-bottom: 0.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003198}}
.anchor {
  font-size: 70%;
  display: block;
  position: absolute;
  left: -20px;
  top: 0;
  width: 20.1px;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003208}}
.anchor, .anchor a, .anchor a:visited {
  color: #a3a3a3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003209}}
.anchor a {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003212}}
p, ul, ol, dl, table, blockquote, address {
  font-size: 1em;
  line-height: 1.8em;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003214}}
img, a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003215}}
figure {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003215}}
figure img, figure iframe {
  margin: 1.5em auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003217}}
pre {
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003219}}
p {
  margin: 0.3em 0 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003220}}
p.poem {
  text-align: center;
  margin: 3em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003222}}
blockquote {
  margin: 1.5em 0;
  padding: 0 0 0 1em;
  border-left: 4px solid #eeeeee;
  text-indent: 0;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003229}}
small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003231}}
code, sample, kbd, tt {
  padding: 0.2em 0.4em 0.1em 0.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003232}}
pre, code, kbd, samp, tt {
  font-family: "Monospace font Firefox hack", Consolas, monospace;
  line-height: 120%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003233}}
dfn, em, cite, var {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003235}}
pre {
  margin: 1em 0;
  padding: 1em;
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003239}}
pre code, pre sample, pre kbd, pre tt {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003242}}
del {
  text-decoration: line-through;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003244}}
ins, mark {
  text-decoration: none;
  background-color: #fffbab;
  color: #353535;
  padding: 0.1em 0.4em 0.2em 0.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003251}}
abbr[title], acronym[title] {
  border-bottom: #353535 1px dotted;
  cursor: help;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003255}}
abbr[title]:hover, acronym[title]:hover {
  color: #a3a3a3;
  border-color: #a3a3a3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003261}}
table {
  font-size: inherit;
  color: inherit;
  border-collapse: collapse;
  margin: 1.5em auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003262}}
th, td {
  vertical-align: top;
  border: 1px dotted #a3a3a3;
  padding: 0.5em 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003263}}
caption {
  margin: 0.5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003265}}
dt, caption, th, strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003267}}
sup {
  vertical-align: super;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003268}}
sub {
  vertical-align: sub;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003269}}
sub, sup {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003271}}
ol, dl, article ul {
  margin: 1.5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003272}}
ol {
  padding-left: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003273}}
ol li {
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003274}}
dd {
  margin-left: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003276}}
body > nav {
  padding: 3em 0;
  text-shadow: 2px 2px #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003280}}
body > nav input, body > nav button {
  padding: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003285}}
body > footer {
  padding-bottom: 3em;
  font-family: "AllerRegular", sans-serif;
  font-size: 80%;
  text-shadow: 1px 1px #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003291}}
body > footer, body > footer a {
  color: #353535;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003292}}
body > footer address {
  font-style: normal;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003293}}
body > footer p a {
  margin: 0 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003296}}
article {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003300}}
article header h1 {
  font-size: 200%;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003301}}
article header a {
  color: #353535;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003302}}
article header a:hover, article header a:focus {
  color: #779600;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003303}}
article header small {
  margin-left: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003306}}
article footer small {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003311}}
article footer small, article footer small a, article footer small a:visited {
  color: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003312}}
article footer small a:hover, article footer small a:focus {
  color: #779600;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003316}}
article #article_content ul, article #article_content ul li {
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003317}}
article #article_content ul {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003318}}
article #article_content ul li {
  margin: 0;
  padding: 0 0 0 2em;
  background: url("../images/bullet-green.png") 0.5em 0.5em no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003320}}
article #article_content img {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003321}}
article #article_content img.right {
  float: right;
  margin-left: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003322}}
article #article_content img.left {
  float: left;
  margin-right: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003325}}
article hr {
  border: 0;
  background: none;
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003332}}
article hr:before {
  display: block;
  content: "…";
  font-size: 250%;
  line-height: 50px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003342}}
.paginator {
  clear: both;
  text-align: center;
  margin: 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003347}}
.paginator .previous, .paginator .next {
  display: inline-block;
  width: 5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003348}}
.paginator small {
  font-size: inherit;
  color: #a3a3a3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003351}}
.aside_links {
  text-align: center;
  font-size: 80%;
  margin: 0.5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003358}}
.index #content > ul, .index #content > ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003363}}
.index #content > ul > li {
  margin: 3em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003369}}
.article #content article header {
  text-align: center;
  margin-bottom: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003370}}
.article #content article h1 {
  font-size: 260%;
  display: block;
  margin: 0 0 0.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003371}}
.article #content article header small {
  margin: 0;
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003375}}
.archives h1, .archives p {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003379}}
.archives h3 {
  font-size: 100%;
  font-weight: normal;
  color: #a3a3a3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003385}}
.archives time {
  display: inline-block;
  width: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003390}}
.archives ul, .archives ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003395}}
.archives #content > ul {
  margin-bottom: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003401}}
.error404 #content {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003402}}
.error404 p {
  margin: 2em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003403}}
.error404 form {
  margin: 3em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003404}}
.error404 input, .error404 button {
  padding: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003407}}
#disqus_thread {
  margin: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003411}}
#dsq-content {
  font-size: 100% !important;
  line-height: 100% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003415}}
#dsq-content button {
  line-height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003419}}
#dsq-content ul, #dsq-content ul li {
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003423}}
#dsq-content #dsq-global-toolbar {
  margin: 0 0 4em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003427}}
#dsq-content .dsq-comment-header {
  background: #eeeeee !important;
  border: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003431}}
#dsq-content .dsq-comment-header a {
  color: #353535;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003432}}
#dsq-content .dsq-comment-header a:hover, #dsq-content .dsq-comment-header a:focus {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003435}}
#dsq-content .dsq-moderator-star, #dsq-content .dsq-collapse-toggle {
  position: absolute;
  left: -38000px;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003439}}
#dsq-content .dsq-header-avatar img {
  margin: 0.5em !important;
  display: block !important;
  border: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003445}}
#dsq-content .dsq-request-user-info .dsq-header-avatar img {
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003449}}
#dsq-content .dsq-moderator .dsq-comment-header {
  background: #fffbab !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003453}}
#dsq-content .dsq-comment-header-time {
  font-size: 90% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003456}}
#dsq-content .dsq-comment-header-time a, #dsq-content .dsq-comment-header-time a:link, #dsq-content .dsq-comment-header-time a:hover, #dsq-content .dsq-comment-header-time a:focus {
  color: #353535;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003462}}
#dsq-content .dsq-remove-message, #dsq-content .dsq-realtime-alert, #dsq-content .dsq-missing-permissions p {
  color: #353535;
  background: #eeeeee !important;
  border: none !important;
  margin: 2em 0 !important;
  padding: 1em !important;
  text-align: center !important;
  text-transform: uppercase !important;
  font-family: "Enriqueta", "Georgia", serif !important;
  font-size: 85%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003474}}
#dsq-content .dsq-comment-outline .dsq-comment-header {
  outline: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003479}}
#dsq-content .dsq-comment-cite span, #dsq-content .dsq-comment-cite a, #dsq-content .dsq-request-user-name span, #dsq-content .dsq-request-user-name a {
  font-weight: normal !important;
  font-size: 120%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003485}}
#dsq-content #dsq-reactions .dsq-reaction-header table {
  background: #eeeeee !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003491}}
#dsq-content .dsq-comment-hide-thread, #dsq-content .dsq-options, #dsq-content .dsq-post-report, #dsq-content #dsq-comments-title, #dsq-content .dsq-item-sort,
#dsq-content .dsq-attach-media, #dsq-content #dsq-new-post h3, #dsq-content #dsq-sort-by, #dsq-content > h3, #dsq-content #dsq-reply h3,
#dsq-content .dsq-comment-flag, #dsq-content .dsq-share-on h4, #dsq-content #dsq-footer {
  display: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003495}}
#dsq-content > h3.dsq-h3-reactions {
  display: block !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003499}}
#dsq-content .dsq-notice {
  border: none !important;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003504}}
#dsq-content .dsq-like-activity {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 75% !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003525}}
.js #comments_inner, .js .article hr {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003529}}
.js .loading {
  min-height: 150px;
  background: url("../images/loader.gif") no-repeat center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/honza\/workspace\/blog\/theme\/static\/css\/main\.scss}line{font-family:\00003534}}
.noscript {
  text-align: center;
}
