[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "pylama"
write = "blog write"
photos = "blog photos"
preview = "blog preview"
deploy = "blog deploy"

[packages]
danube-delta = "==2.0.1"
markdown = "*"

[dev-packages]
pylama = "*"

[requires]
python_version = "3.7"
