<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}{{ SITENAME }} Honzy Javorka{% endblock title %}</title>

        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">

        {% block feeds %}
            <link rel="alternate" type="application/rss+xml" title="Javorové lístky – všechny články" href="{{ SITEURL }}/{{ FEED_ATOM }}">
            <link rel="alternate" type="application/rss+xml" title="Javorové lístky – všechny komentáře" href="http://{{ DISQUS_SITENAME }}.disqus.com/latest.rss">
        {% endblock feeds %}

        <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/favicon.ico">

        {% block fb %}
            <meta property="og:description" content="Blog Honzy Javorka.">
            <meta property="og:image" content="{{ SITEURL }}/theme/images/logo.png">
        {% endblock fb %}

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', {{ GOOGLE_ANALYTICS|tojson|safe }}]);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endblock %}
    </head>
    <body>
        <div class="container {% block class %}{% endblock %}">
            {% block header %}
            <div class="header">
                <a href="{% block home_link %}{{ SITEURL }}/blog/{% endblock %}">
                <div class="hgroup">
                    {% if self.title_h1() %}
                    <h1>
                        {% block title_h1 %}
                            {% block title_adjective %}Javorové{% endblock title_adjective -%}
                            <span class="logo"> </span>
                            {%- block title_noun %}lístky{% endblock title_noun %}
                        {% endblock title_h1 %}
                    </h1>
                    {% endif %}
                    {% if self.title_h2() %}
                       <h2>{% block title_h2 %}Honza Javorek{% endblock %}</h2>
                    {% endif %}
                </div>
                </a>
            </div>
            {% endblock %}

            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        {% block footer %}
        <div class="footer">
            <h3>Zahradník</h3>
            <p>{{ 2007|copyright }} <a href="{{ SITEURL }}">Honza Javorek</a></p>
        </div>
        {% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="{{ SITEURL }}/theme/js/main.js"></script>
        <script async src="//platform.twitter.com/widgets.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>
