@import 'node_modules/normalize.css/normalize';
@import 'node_modules/fork-awesome/css/fork-awesome.min';


$color-green: #457e31;
$color-highlight: #fffceb;
$color-black: #111;
$color-almost-black: #222;
$color-white: #fff;
$color-almost-white: #e1e1e1;
$color-light-grey: #b2b2b2;
$color-grey: #666;

$font-size-large: 1.25rem;
$font-size-larger: .875rem;
$font-size-medium: 1rem;

$font-weight-bold: 600;
$font-weight-thin: 300;

$line-height-larger: 1.5;

$half: .5rem;
$one: 1rem;
$two: 2rem;


html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  text-align: center;
  background-color: $color-white;
  color: $color-black;
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  font-weight: $font-weight-thin;
  border-top: $half $color-green solid;
}

a {
  text-decoration: none;
  &, &:hover, &:focus { color: $color-green; }
  &:hover, &:focus { text-decoration: underline; }
}

strong {
  font-weight: $font-weight-bold;
}

h1 {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

h2 {
  text-align: center;
  font-size: $font-size-larger;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  margin: $half 0 0 0;
  padding-bottom: $half;
  border-bottom: .123rem $color-black solid;
}

.icons {
  font-size: $font-size-larger;

  a {
    display: inline-block;
    color: $color-black;
    width: $one;

    &:hover, &:focus {
      color: $color-green;
      text-decoration: none;
    }
  }
}

.bio {
  line-height: $line-height-larger;
  max-width: 30em;
  margin: $two auto 0 auto;
}

header {
  padding: 0 $half;
  font-size: $font-size-larger;

  & > div {
    max-width: 16 * $two;
    margin: $two auto;
    padding: $two;
    border: 1px $color-almost-white solid;
    border-radius: $half;
    box-shadow: 0 ($half / 4) ($half / 2) rgba(0, 0, 0, 0.05);
  }

  img {
    border-radius: 100%;
    height: 2 * $two;
    width: 2 * $two;
    display: inline-block;
  }
}

section {
  text-align: left;
  max-width: 24 * $two;
  margin: $one auto;
  padding: $two;

  @media screen and (max-width: 40em) {
    & { padding: $half; }
  }
}

.entry {
  margin-bottom: $half;
  padding: $half;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & > i {
    width: $one + $half;
    text-align: center;
    margin: 0 $one 0 $half;
    font-size: $font-size-large;
  }

  p {
    margin: 0;
  }

  h3 {
    margin: 0;
    font-weight: $font-weight-thin;
  }

  small, small a { color: $color-grey; }
  small .detached { margin-left: $one; }
}

@media screen and (max-width: 40em) {
  .entry > i { margin-left: 0; }
  #appearances .entry { display: block; }
  #appearances .entry h3 { text-indent: $two; margin-bottom: $half; }
  #appearances .entry > i { display: block; margin: 0; margin-bottom: -1.3rem; }
  #appearances .entry small { line-height: $line-height-larger; }
  #appearances .entry .detached { display: block; margin: 0; }
}

@media screen and (min-width: 40em) {
  #articles ul {
    column-count: 2;
    column-gap: $half;
  }
}

.achievement {
  margin: $two 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 30em) { & { flex-direction: row; } }

  img {
    display: block;
    width: 2 * $two;
    height: 2 * $two;
    margin: ($half / 2) $half $half ($half / 2);

    @media screen and (max-width: 30em) { & { margin: 0 auto $one auto; } }
  }

  p {
    line-height: $line-height-larger;
    margin: 0;
    padding-left: $one;
    font-size: $font-size-larger;

    @media screen and (min-width: 40em) { & { font-size: $font-size-medium; } }
    @media screen and (max-width: 30em) { & { padding-left: 0; } }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.more {
  text-align: center;
  font-size: $font-size-medium;
  line-height: $line-height-larger;
  margin: 0;
  margin-top: $two;
}

#appearances .more {
  display: none;
}

footer {
  background-color: $color-almost-black;
  padding: (2 * $two) 0;
  margin-top: $two;

  & > div {
    max-width: 24 * $two;
    margin: 0 auto;
  }

  dl {
    line-height: $line-height-larger;
    margin: 0;

    dt {
      font-size: $font-size-larger;
      font-weight: $font-weight-bold;
      &, a, a:hover, a:focus { color: $color-white; }
    }

    dd {
      margin: 0 0 $one 0;
      &, a, a:hover, a:focus { color: $color-light-grey; }
    }

    dd:last-child { margin-bottom: 0; }
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.hidden {
  display: none;
}
